{% extends "base.html" %}
{% block titulo %}
Activo Asignado
{% endblock titulo %}
{% block estilo %}
<style>
    .checkbox{
        font-weight: 500;
    }
    .checkbox label{
        font-weight: 500;
    }
</style>
{% endblock estilo %}
{% load static %}
{% block contenido %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="text-bold"><i class="ti-pencil-alt"></i>Activo Asignado</h2>
            </div>
            <div class="panel-wrapper">
                <div class="panel-body">
                    {% csrf_token %}
                    {% if editar %}
                    <input type="hidden" value="{{dato.pk}}" name="act_asig_id">
                    {% endif %}
                    <div class="col-md-12">
                        <div class="col-md-12 margin-bottom-5px">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5 text-right">
                                        <label class="control-label">Código :</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input name="act_asig_code" value="{{dato.code}}" type="text" class="form-control input" maxlength="5" {% if editar %}disabled{% endif %} />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6"></div>
                        </div>
                        <div class="col-md-12 margin-bottom-5px">    
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5 text-right">
                                        <label class="control-label">Descripción :</label>
                                    </div>
                                    <div class="col-md-7">
                                        <textarea name="act_asig_desc" rows="7" class="form-control">{{dato.descripcion}}</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6"></div>
                        </div>
                        <div class="col-md-12 margin-bottom-5px">
                            <div class="col-md-6">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-5"></div>
                                        <div class="col-md-7">
                                            <div class="checkbox checkbox-success">
                                                <input id="chkActivo" name="act_asig_activo" type="checkbox" {% if editar %}{% if dato.active %}{% endif %}{% else %}checked{% endif %}  class="input-sm">
                                                <label for="chkActivo" class="control-label"> Activo </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6"></div>
                        </div>
                        <hr>
                        <div class="form-action col-md-12 text-right">
                            {% if editar %}
                            <button id="btnActAsignActualizar" class="btn btn-success">Actualizar</button>
                            {% else %}
                            <button id="btnActAsignGuardar" class="btn btn-success">Guardar</button>
                            {% endif %}
                            <button id="btnActAsignCancelar" class="btn btn-default">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
{% block scripts %}
<script>
    //$('.select2').select2();
    $('#side-menu a').removeClass('active');
    $('#aPersonal').addClass('active');
    $('#aGenerales').addClass('active');
    $('#actAsig').addClass('active');
    $('#aPersonal').parents('li').addClass('active');
    $('#aGenerales').parents('li').addClass('active');
</script>
{% endblock scripts %}