{% extends "base.html" %}
{% block titulo %}
Datos de Ausentismo
{% endblock titulo %}
{% load static %}
{% block contenido %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="text-bold"><i class="fa fa-list"></i>
                    Datos de Ausentismo</h2>
            </div>
            <div class="panel-wrapper">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <form action="{% url 'ausentismo_listado' %}" method="GET">
                                    <div class="col-md-3">
                                        <label for="cboAuEmp" class="control-label">Empleado :</label>
                                    </div>
                                    <div class="col-md-7">
                                        <select class="form-control select2 input-sm input-sm-1" name="empleado" id="cboAuEmp">
                                            <option value="0">Seleccionar...</option>
                                            {% for item in empleados %}
                                                {% if busqueda %}
                                                    {% if item.pk == busqueda %}
                                                    <option value="{{item.pk}}" selected>{{item.firstName}}{% if item.middleName %}{{item.middleName}}{% endif %} {{item.lastName}}</option>
                                                    {% else %}
                                                    <option value="{{item.pk}}">{{item.firstName}}{% if item.middleName %} {{item.middleName}}{% endif %} {{item.lastName}}</option>
                                                    {% endif %}
                                                {% else %}
                                                <option value="{{item.pk}}">{{item.firstName}}{% if item.middleName %} {{item.middleName}}{% endif %} {{item.lastName}}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="submit" class="btn btn-default" value="Buscar">
                                        <!--button type="submit" class="btn btn-default">Buscar</button-->
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-6 text-right">
                            {% if perms.worksheet.add_ausentismo %}
                            <a href="{% url 'ausentismo' %}" class="btn btn-primary">Agregar</a>
                            {% endif %}
                        </div>
                    </div>
                    <br>
                    <div class="table-responsive">
                        <table id="myTable" class="table table-striped">
                            {% csrf_token %}
                            <thead>
                                <tr>
                                    <th>Empleado</th>
                                    <th>Desde</th>
                                    <th>Hasta</th>
                                    <th>Motivo</th>
                                    <th>Aprobado por</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in datos %}
                                <tr>
                                    <td>{{item.empleado.firstName}} {% if item.empleado.middleName %}{{item.empleado.middleName}}{% endif %} {{item.empleado.lastName}}</td>
                                    <td>{{item.desde|date:"d/m/Y"}}</td>
                                    <td>{{item.hasta|date:"d/m/Y"}}</td>
                                    <td>
                                        {{item.motivo.descripcion}}                                    </td>
                                    <td>
                                        {{item.aprobado.firstName}} {% if item.aprobado.middleName %}{{item.aprobado.middleName}}{% endif %} {{item.aprobado.lastName}}
                                    </td>
                                    <td class="text-nowrap acciones">
                                        {% if perms.worksheet.change_ausentismo %}
                                        <a href="{% url 'ausentismo_editar' item.pk %}" data-toggle="tooltip" data-original-title="Editar">
                                            <i class="fa fa-pencil text-inverse m-r-10"></i>
                                        </a>
                                        {% endif %}
                                        {% if perms.worksheet.delete_ausentismo %}
                                        <a href="#" class="btnEliminar" data="{{item.pk}}" data-toggle="tooltip" data-original-title="Eliminar">
                                            <i class="fa fa-close text-danger"></i>
                                        </a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
{% block scripts %}
<script>
    $('.select2').select2();
    var token = $('input[name="csrfmiddlewaretoken"]');
    //#region Efectos en SideBar
    $('#side-menu a').removeClass('active');
    $('#aAcciones').addClass('active');
    $('#accionesPersonal').addClass('active');
    $('#aAu').addClass('active');
    $('#aAcciones').parents('li').addClass('active');
    $('#accionesPersonal').parents('li').addClass('active');
    //#endregion

    //#region Eventos Controles
    $('.acciones .btnEliminar').on('click', function(e) {
        e.preventDefault();
        var id = $(this).attr('data');
        Eliminar(id);
    });
    //#endregion

    //#region Funciones
    function Eliminar(id) {
        var Encabezado = 'Evaluación';
        var url = "/eliminar/ausentismo/"; // the script where you handle the form input.
        $.ajax({
            type: "POST",
            url: url,
            data: {
                'id': id,
                'csrfmiddlewaretoken': token.val(),
            }, // serializes the form's elements.
            success: function(data)
            {
                if(data.error == false){
                    $.toast({
                        heading: Encabezado,
                        text: data.mensaje,
                        position: 'top-right',
                        loaderBg: '#ff6849',
                        icon: 'success',
                        hideAfter: 2000,
                        stack: 6
                    });
                    setTimeout(function () {
                        location.reload();
                    }, 2000);
                }else{
                    $.toast({
                        heading: Encabezado,
                        text: data.mensaje,
                        position: 'top-right',
                        loaderBg: '#ff6849',
                        icon: 'error',
                        hideAfter: 5000,
                        stack: 6
                    });
                }
            },
            error: function(data) {
                console.log(data);
                $.toast({
                    heading: Encabezado,
                    text: data.status + ' - ' + data.statusText,
                    position: 'top-right',
                    loaderBg: '#ff6849',
                    icon: 'error',
                    hideAfter: 5000,
                    stack: 6
                });
            }
        });
    }
    //#endregion
</script>
{% endblock scripts %}