﻿<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    {% load auth_extras %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon.ico' %}">
    <title>{% block titulo %}{% endblock titulo %}</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/bower_components/bootstrap-table/dist/bootstrap-table.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/bower_components/datatables/media/css/jquery.dataTables.min.css' %}" rel="stylesheet" type="text/css" />
    <!--link href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" /-->
    <!-- Menu CSS -->
    <link href="{% static 'plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/bower_components/sweetalert/sweetalert.css'%}" rel="stylesheet" type="text/css">
    <link href="{% static 'plugins/bower_components/toast-master/css/jquery.toast.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/bower_components/morrisjs/morris.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/bower_components/chartist-js/dist/chartist.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/bower_components/switchery/dist/switchery.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/bower_components/custom-select/custom-select.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/bower_components/bootstrap-select/bootstrap-select.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/bower_components/clockpicker/dist/jquery-clockpicker.min.css' %}" rel="stylesheet"> 
    <!-- Date picker plugins css -->

    <link href="{% static 'plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{% static 'plugins/bower_components/dropify/dist/css/dropify.min.css' %}" type="text/css" />
    <!-- animation CSS -->
    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'css/icons/themify-icons/themify-icons.css' %}" rel="stylesheet">
    <link href="{% static 'css/icons/font-awesome/css/fontawesome-all.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/icons/themify-icons/themify-icons.css' %}" rel="stylesheet">
    <link href="{% static 'css/icons/themify-icons/themify-icons.css' %}" rel="stylesheet">
    <link href="{% static 'css/icons/themify-icons/themify-icons.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- color CSS -->
    <link href="{% static 'css/colors/blue-dark.css' %}" id="theme" rel="stylesheet">
    <link href="{% static 'css/mi-estilo.css' %}" rel="stylesheet">
    {% block estilo %}
    {% endblock estilo %}
    <style>
        #side-menu>li>a{
            padding-top: 1px;
            padding-bottom: 1px;
        }
        .sidebar .arrow{
            top: 4px;
        }

        .sidebar .nav-second-level .arrow{
            top: 4px;
        }

        .sidebar .fa-fw{
            font-size: 12px;
        }
        a .hide-menu{
            font-size: 12px;
        }
        .sidebar .nav-second-level li a{
            padding-top: 1px;
            padding-bottom: 1px;
        }
        .opciones>a{
            margin: 0 3px;
        }
    </style>
    <!-- HTML5 Shim d Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fix-header">
    <!-- Preloader -->
    <div class="preloader"><svg class="circular" viewBox="25 25 50 50"><circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/></svg></div>
    {% comment "" %}
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    {% endcomment %}
    <div id="wrapper">
        <!-- Top Navigation -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header">
                <!-- Toggle icon for mobile view -->
                <div class="top-left-part">
                    <!-- Logo -->
                    <a class="logo" href="{% url 'home' %}">
                        <!-- Logo icon image, you can use font-icon also --><b>
                        <!--This is dark logo icon--><img src="{% static 'images/promaco-logo-3.png' %}" alt="home" class="dark-logo" /><!--This is light logo icon--><img src="{% static 'images/promaco-logo-3.png' %}" alt="home" class="light-logo" />
                     </b>
                        <!-- Logo text image you can use text also --><span class="hidden-xs">
                        <!--This is dark logo text--><!--img src="{% static 'plugins/images/admin-text.png' %}" alt="home" class="dark-logo" /--><!--This is light logo text--><!--img src="{% static 'plugins/images/admin-text-dark.png' %}" alt="home" class="light-logo" /-->
                     </span> </a>
                </div>
                <!-- /Logo -->
                <!-- Search input and Toggle icon -->
                <ul class="nav navbar-top-links navbar-left">
                    <li><a href="javascript:void(0)" class="open-close waves-effect waves-light visible-xs"><i class="ti-close ti-menu"></i></a></li>
                </ul>
                <!-- This is the message dropdown -->
               
                <ul class="nav navbar-top-links navbar-right pull-right">
                    <!-- /.Task dropdown -->
                    <!-- /.dropdown -->
                    {% comment "" %}
                    <li>
                        <form role="search" class="app-search hidden-sm hidden-xs m-r-10">
                            <input type="text" placeholder="Search..." class="form-control"> <a href=""><i class="fa fa-search"></i></a> </form>
                    </li>
                    {% endcomment %}
                    
                    <li class="dropdown">
                        <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#"> <img src="{% static 'images/usuarios.png' %}" alt="user-img" width="36" class="img-circle"><b class="hidden-xs">{{ user.username }}</b><span class="caret"></span> </a>
                        <ul class="dropdown-menu dropdown-user animated flipInY">
                            <li>
                                <div class="dw-user-box">
                                    <div class="u-img"><img src="{% static 'images/usuarios.png' %}" alt="user" /></div>
                                    <div class="u-text"><h4>{{ user.username }}</h4><p class="text-muted">{% if user.email %}{{user.email}}{% endif %}</p>
                                    <p>Empresa/Sucursal: {% if request.session.sucursal %}{{request.session.nombre_sucursal}}{% endif %}</p>
                                        {% comment "" %}
                                        <a href="profile.html" class="btn btn-rounded btn-danger btn-sm">View Profile</a></div>
                                        {% endcomment %}
                                </div>
                            </li>
                            <li role="separator" class="divider"></li>
                            {% comment "" %}
                            
                            <li><a href="#"><i class="ti-user"></i> My Profile</a></li>
                            <li><a href="#"><i class="ti-wallet"></i> My Balance</a></li>
                            <li><a href="#"><i class="ti-email"></i> Inbox</a></li>
                            <li role="separator" class="divider"></li>
                            {% endcomment %}
                            {% comment '' %}
                            <li><a href="#"><i class="ti-settings"></i> Configurar Perfíl</a></li>
                            <li role="separator" class="divider"></li>
                            {% endcomment %}
                            <li><a href="{% url 'salir' %}"><i class="ti-out"></i> Salir</a></li>  
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                    
                    <!-- /.dropdown -->
                </ul>
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <!-- End Top Navigation -->
        <!-- Left navbar-header -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav slimscrollsidebar">
                <div class="sidebar-head">
                    <h3><span class="fa-fw open-close"><i class="ti-menu hidden-xs"></i><i class="ti-close visible-xs"></i></span> <span class="hide-menu">Menú</span></h3>
                </div>
                <ul class="nav" id="side-menu">
                    <li><a id="aInicio" href="{% url 'home' %}" class="waves-effect"><i data-icon="7" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">INICIO </span></a> </li>
                    <li><a href="javascript:void(0)" id="aCorporativo" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">ORGANIZACIÓN<span class="fa arrow"></span></span></a>
                        <ul class="nav nav-second-level">
                            {% if perms.worksheet.see_empresa %}
                            <li><a href="{% url 'listado_corporativos' %}" id="aCorporativo2" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Grupos Corporativos</span></a></li>
                            {% endif %}
                            {% if perms.worksheet.see_empresa %}
                            <li><a href="{% url 'listado_empresas' %}" id="aEmpresa" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Empresas</span></a></li>
                            {% endif %}
                            {% if perms.worksheet.see_branch %}
                            <li><a href="{% url 'listado_sucursal' %}" id="aSucursal" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Sucursales</a></li>
                            {% endif %}
                            {% if perms.worksheet.see_divisiones %}
                            <li><a href="{% url 'listado_divisiones' %}" id="aDivision" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Divisiones</span></a></li>
                            {% endif %}
                            {% if perms.worksheet.see_department %}
                            <li><a href="{% url 'listado_departamentos' %}" id="aDepartamentos" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Departamentos</span></a></li>
                            {% endif %}
                            {% if perms.worksheet.see_funcionestrabajo %}
                            <li><a href="{% url 'funcion_trab_listado' %}" id="aFuncionOperativa" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Función Operativa</span></a></li>
                            {% endif %}
                            {% if perms.worksheet.see_centroscostos %}
                            <li><a href="{% url 'listado_ccostos' %}" id="aCCostos" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Centros de Costos</span></a></li>
                            {% endif %}
                            {% if perms.worksheet.see_usuarioempresa %}
                            <li><a href="{% url 'emp_user' %}" id="aUsuarioEmpresa" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Empresas por Usuario</span></a></li>
                            {% endif %}
                        </ul>
                    </li><!--FIN DE OPCIÓN ORGANIZACIÓN-->
                    <li><a href="javascript:void(0)" id="aPersonal" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">PARÁMETROS <span class="fa arrow"></span></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="#" id="aGenerales" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Generales <span class="fa arrow"></span></span></a>
                                <ul class="nav nav-third-level">
                                    {% if perms.worksheet.see_country %}
                                    <li><a href="{% url 'listado_paises' %}" id="aPaises" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Países</span></a></li>
                                    {% endif %}
                                    {% if perms.worksheet.see_state %}
                                    <li><a href="{% url 'listado_deptos' %}" id="aDept" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Departamentos</span></a></li>
                                    {% endif %}
                                    {% if perms.worksheet.see_ciudad %}
                                    <li><a href="{% url 'ciudades_listado' %}" id="aCiud" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Ciudades</span></a></li>
                                    {% endif %}
                                    {% if perms.worksheet.see_banco %}
                                    <li><a href="{% url 'banco_listado' %}" id="aBanco" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Banco</span></a></li>
                                    {% endif %}
                                    {% if perms.worksheet.see_activoasignado %}
                                    <li><a href="{% url 'articulos_asignados_listar' %}" id="actAsig" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Activo Asignados</span></a></li>
                                    {% endif %}
                                    {% if perms.worksheet.see_parentesco %}
                                    <li><a href="{% url 'parentesco_listado' %}" id="aParent" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Parentesco</span></a></li>
                                    {% endif %}
                                    {% if perms.worksheet.see_civilstatus %}
                                    <li><a href="{% url 'estado_civil_listado' %}" id="aEstCiv" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Estado Civil</span></a></li>
                                    {% endif %}
                                    {% if perms.worksheet.see_sex %}
                                    <li><a href="{% url 'generos_listado' %}" id="aGenero" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Géneros</span></a></li>
                                    {% endif %}
                                    {% if perms.worksheet.see_claseeducacion %}
                                    <li><a href="{% url 'clase_educacion_listado' %}" id="aClsEdu" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Niveles de Educación</span></a></li>
                                    {% endif %}
                                    {% if perms.worksheet.see_feriado %}
                                    <li><a href="{% url 'feriado_listar' %}" id="Fer" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Feriados</span></a></li>
                                    {% endif %}
                                    {% if perms.worksheet.see_position %}
                                    <li><a href="{% url 'listado_puestos' %}" id="aFunTrab" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Puesto de Trabajo</span></a></li>
                                    {% endif %}
                                    {% if perms.worksheet.see_equipotrabajo %}
                                    <li><a href="{% url 'equipo_trabajo_listado' %}" id="aEqTrab" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Equipo de Trabajo</span></a></li>
                                    {% endif %}
                                    {% if perms.worksheet.see_statusemp %}
                                    <li><a href="{% url 'estado_empleado_listado' %}" id="aEsEm" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Estatus Empleado</span></a></li>
                                    {% endif %}
                                    {% if perms.worksheet.see_grupocomisiones %}
                                    <li><a href="{% url 'grupo_comisiones_listar' %}" id="grpCom" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Grupo de Comisiones</span></a></li>
                                    {% endif %}
                                    {% if perms.worksheet.see_vendedor %}
                                    <li><a href="{% url 'vendedor_listar' %}" id="Vend" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Vendedores</span></a></li>
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav nav-second-level">
                            <li><a href="#" id="aLegales" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Legales <span class="fa arrow"></span></span></a>
                                <ul class="nav nav-third-level">
                                {% comment '' %}
                                    {% if perms.worksheet.see_segurosocial %}
                                    <li><a href="{% url 'segurosocial_listado' %}" id="aSeguroSocial" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">IHSS</span></a></li>
                                    {% endif %}
                                    {% if perms.worksheet.see_impuestosobrerenta %}
                                    <li><a href="{% url 'impuestosobrerenta_listado' %}" id="aISR" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">ISR</span></a></li>
                                    {% endif %}
                                    {% if perms.worksheet.see_isrencabezado %}
                                    <li><a href="{% url 'isr_encabezado' %}" id="aISREncabezado" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Impuesto Sobre Renta</span></a></li>
                                    {% endif %}
                                    {% if perms.worksheet.see_impuestovecinal %}
                                    <li><a href="{% url 'impuestovecinal_listado' %}" id="aIV" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Impuesto Vecinal</span></a></li>
                                    {% endif %}
                                    {% if perms.worksheet.see_impuestovecinal %}
                                    <li><a href="{% url 'rap_listado' %}" id="aRAP" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">RAP</span></a></li>
                                    {% endif %}
                                {% endcomment %}
                                    {% if perms.worksheet.see_horaextra %}
                                    <li><a href="{% url 'horaextra_listado' %}" id="aHE" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Horas Extras</span></a></li>
                                    {% endif %}
                                    {% if perms.worksheet.see_salariominimo %}
                                    <li><a href="{% url 'salariominimo_listado' %}" id="aSalarioMinimo" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Salario Minimo</span></a></li>
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav nav-second-level">
                            <li><a href="#" id="parametrosNomina" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Nóminas <span class="fa arrow"></span></span></a>
                                <ul class="nav nav-third-level">
                                    {% if perms.worksheet.see_tiponomina %}
                                    <li><a href="{% url 'tipo_nomina_listar' %}" id="aTipoNomina" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Tipo de Nómina</span></a></li>
                                    {% endif %}
                                    {% if perms.worksheet.see_tipocontrato %}
                                    <li><a href="{% url 'tipo_contrato_listado' %}" id="aTipoContrato" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Tipo de Contrato</span></a></li>
                                    {% endif %}
                                    {% if perms.worksheet.see_salaryunit %}
                                    <li><a href="{% url 'tipo_salario_listar' %}" id="aTiposSalarios" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Frecuencia de Pago</span></a></li>
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav nav-second-level">
                            <li><a href="#" id="Motivos" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Motivos <span class="fa arrow"></span></span></a>
                                <ul class="nav nav-third-level">
                                    {% if perms.worksheet.see_motivoaumentosueldo %}
                                    <li><a href="{% url 'motivos_aumento_sueldo_listado' %}" id="aMas" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Aumento</span></a></li>
                                    {% endif %}
                                    {% if perms.worksheet.see_motivosausencia %}
                                    <li><a href="{% url 'motivos_ausencia_listado' %}" id="aMAu" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Ausencia</span></a></li>
                                    {% endif %}
                                    {% if perms.worksheet.see_motivosdespido %}
                                    <li><a href="{% url 'motivos_despido_listado' %}" id="aMDes" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Despido</span></a></li>
                                    {% endif %}
                                    {% if perms.worksheet.see_motivosrenuncia %}
                                    <li><a href="{% url 'motivos_renuncia_listado' %}" id="aMRe" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Renuncia</span></a></li>
                                    {% endif %}
                                    {% comment '' %}
                                    {% if perms.worksheet.see_termreason %}
                                    <li><a href="{% url 'motivo_rescicion_contrato_listar' %}" id="aMReCon" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Rescisión Contrato</span></a></li>
                                    {% endif %}
                                    {% endcomment %}
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav nav-second-level">
                            <li><a href="#" id="aConceptos" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Conceptos <span class="fa arrow"></span></span></a>
                                <ul class="nav nav-third-level">
                                    {% if perms.worksheet.see_tipoingreso %}
                                    <li><a href="{% url 'ingresos_tipo_listado' %}" id="aTipoIngreso" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Ingreso</span></a></li>
                                    {% endif %}
                                {% comment '' %}
                                    {% if perms.worksheet.see_ingresogeneral %}
                                    <li><a href="{% url 'ingreso_general_listado' %}" id="aIngresoG" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Ingreso General</span></a></li>
                                    {% endif %}
                                    {% if perms.worksheet.see_ingresoindividual %}
                                    <li><a href="{% url 'ingreso_individual_listado' %}" id="aIngresoI" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Ingreso Individual</span></a></li>
                                    {% endif %}
                                    {% if perms.worksheet.see_deducciongeneral %}
                                    <li><a href="{% url 'deduccion_general_listado' %}" id="aDeduccionG" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Deducción General</span></a></li>
                                    {% endif %}
                                    {% if perms.worksheet.see_deduccionindividual %}
                                    <li><a href="{% url 'deduccion_individual_listado' %}" id="aDeduccionI" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Deducción Individual</span></a></li>
                                    {% endif %}
                                {% endcomment %}
                                    {% if perms.worksheet.see_tipodeduccion %}
                                    <!--li><a href="{% url 'tipo_deduccion_listado' %}" id="aTipoDeduccion" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Tipo de Deducción</span></a></li-->
                                    <li><a href="{% url 'deducciones_tipos' %}" id="aTipoDeduccion" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Deducción</span></a></li>
                                    {% endif %}
                                    {% if perms.worksheet.see_tipodeduccion %}
                                    <li><a href="{% url 'cuentas_contables_listado' %}" id="aCuentasContables" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Cuentas Contables</span></a></li>
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav nav-second-level">
                            {% if perms.worksheet.see_employee %}
                            <li><a href="{% url 'empleados-listado' %}" id="Emp" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Empleados</span></a></li>
                            {% endif %}
                        </ul>
                    </li>
                    <li><a href="javascript:void(0)" id="aAcciones" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">ACCIONES <span class="fa arrow"></span></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="#" id="accionesPersonal" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Personal <span class="fa arrow"></span></span></a>
                                <ul class="nav nav-third-level">
                                    {% if perms.worksheet.see_educacion %}
                                    <li><a href="{% url 'educacion_listar' %}" id="aEdu" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Educación</span></a></li>
                                    {% endif %}
                                    {% if perms.worksheet.see_empleoanterior %}
                                    <li><a href="{% url 'empleo_anterior_listar' %}" id="empAnt" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Experiencia</span></a></li>
                                    {% endif %}
                                    {% if perms.worksheet.see_ausentismo %}
                                    <li><a href="{% url 'ausentismo_listado' %}" id="aAu" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Ausentismo</span></a></li>
                                    {% endif %}
                                    <li><a href="{% url 'contratos_page' %}" id="aCont" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Contratos</span></a></li>
                                    {% if perms.worksheet.see_evaluacion %}
                                    <li><a href="{% url 'evaluacion_listar' %}" id="aEv" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Evaluación</span></a></li>
                                    {% endif %}
                                    {% if perms.worksheet.see_incrementossalariales %}
                                    <li><a href="{% url 'aumento_salario_listado' %}" id="aAumSal" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Datos de Salario</span></a></li>
                                    {% endif %}
                                </ul>
                            </li>
                            <li><a href="#" id="accionesNomina" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Nómina <span class="fa arrow"></span></span></a>
                                <ul class="nav nav-third-level">
                                {% comment '' %}
                                    {% if perms.worksheet.see_ingresogeneraldetalle %}
                                    <li><a href="{% url 'ingreso_general_detalle_listado' %}" id="aIGD" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Percepciones Generales</span></a></li>
                                    {% endif %}
                                    {% if perms.worksheet.see_ingresoindividualdetalle %}
                                    <li><a href="{% url 'ingreso_individual_detalle_listado' %}" id="aIID" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Percepciones Individuales</span></a></li>
                                    {% endif %}
                                    {% if perms.worksheet.see_ingresoindividualplanilla %}
                                    <li><a href="{% url 'ingreso_individual_planilla_listado' %}" id="aIIP" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Percepciones Única</span></a></li>
                                    {% endif %}
                                    {% if perms.worksheet.see_deducciongeneraldetalle %}
                                    <li><a href="{% url 'deduccion_general_detalle_listado' %}" id="aDGD" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Deducciones Generales</span></a></li>
                                    {% endif %}
                                    {% if perms.worksheet.see_deduccionindividualdetalle %}
                                    <li><a href="{% url 'deduccion_individual_detalle_listado' %}" id="aDID" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Deducciones Individuales</span></a></li>
                                    {% endif %}
                                    {% if perms.worksheet.see_deduccionindividualplanilla %}
                                    <li><a href="{% url 'deduccion_individual_planilla_listado' %}" id="aDIP" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Deducción única</span></a></li>
                                    {% endif %}
                                {% endcomment %}
                                    {% if perms.worksheet.see_deduccionindividualplanilla %}
                                    <li><a href="{% url 'deducciones_empleado_listado' %}" id="aDE" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Deducciones Empleado</span></a></li>
                                    {% endif %}
                                    {% if perms.worksheet.see_deduccionindividualplanilla %}
                                    <li><a href="{% url 'ingresos_empleado_listado' %}" id="aIE" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Ingreso Empleado</span></a></li>
                                    {% endif %}
                                    {% if perms.worksheet.see_planilla %}
                                    <li><a href="{% url 'planilla_listado' %}" id="aPlanilla" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Planilla</span></a></li>
                                    {% endif %}
                                    <li><a href="{% url 'planilla_reporte_general' %}" id="aReportes" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Reportes</span></a></li>
                                </ul>
                            </li>
                            <li><a href="#" id="accionesReportes" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Reportes <span class="fa arrow"></span></span></a>
                                <ul class="nav nav-third-level">
                                    <li><a href="{% url 'reporte_empleados' %}" id="aReporte1" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Datos de Salario</span></a></li>
                                    <li><a href="{% url 'impresion_boletas' %}" id="aImpresionBoleta" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Impresión de Boletas</span></a></li>
                                    <li><a href="{% url 'cuentas_contables_reporte' %}" id="aRCuentasContables" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Cuentas Contables</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    {% comment "" %}
                    <li> <a href="javascript:void(0)" class="waves-effect"><i data-icon="" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Multi Dropdown<span class="fa arrow"></span></span></a>
                        <ul class="nav nav-second-level">
                            <li> <a href="javascript:void(0)"><i data-icon="/" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Second Level Item</span></a> </li>
                            <li> <a href="javascript:void(0)"><i data-icon="7" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Second Level Item</span></a> </li>
                            <li> <a href="javascript:void(0)" class="waves-effect"><i data-icon="&#xe008;" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Third Level </span><span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li> <a href="javascript:void(0)"><i class=" fa-fw">T</i><span class="hide-menu">Third Level Item</span></a> </li>
                                    <li> <a href="javascript:void(0)"><i class=" fa-fw">M</i><span class="hide-menu">Third Level Item</span></a> </li>
                                    <li> <a href="javascript:void(0)"><i class=" fa-fw">R</i><span class="hide-menu">Third Level Item</span></a> </li>
                                    <li> <a href="javascript:void(0)"><i class=" fa-fw">G</i><span class="hide-menu">Third Level Item</span></a> </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a id="aEmp" href="javascript:void(0)" class="waves-effect"><i data-icon="6" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Empleados <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a id="saEmpFrm" href="{% url 'empleados-form' %}"><i data-icon="/" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Nuevo Empleado</span></a></li>
                            <li><a id="saEmpLst" href="{% url 'empleados-listado' %}"><i class="mdi mdi-format-list-bulleted"></i> <span class="hide-menu">Lista de Empleados</span></a></li>
                        </ul>
                    </li>
                    {% endcomment %}
                </ul>
            </div>
        </div>
        <!-- Left navbar-header end -->
        <!-- Page Content -->
        <div id="page-wrapper" class="pagina-contenido">

            <div class="container-fluid">
                {% block contenido %}{% endblock contenido %}
            </div>
            <!-- /.container-fluid -->
            
            <footer class="footer text-center">
                <div class="logo-izq col-xs-4 col-sm-4 col-md-4 text-left">
                    <img id="" src="{% static 'images/tracker.png' %}" alt="">
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4">
                    2017 &copy; {% comment "" %}
                    
                     TELEMÁTICA
                     {% endcomment %}
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 text-right"><img src="{% static 'images/logoTracker.png' %}" alt=""></div>
            </footer>
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="{% static 'plugins/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'js/lib/jquery-ui.min.js' %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="{% static 'plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js' %}"></script>
    <!--slimscroll JavaScript -->
    <script src="{% static 'js/lib/jquery.slimscroll.js' %}"></script>
    <!--Wave Effects -->
    <script src="{% static 'js/lib/waves.js' %}"></script>
    <!-- Custom Theme JavaScript -->
    <!--script src="{% static 'plugins/bower_components/Chart.js/chartjs.init.js' %}"></script-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <!--Style Switcher -->
    <script src="{% static 'plugins/bower_components/styleswitcher/jQuery.style.switcher.js' %}"></script>
    <script src="{% static 'plugins/bower_components/switchery/dist/switchery.min.js' %}"></script>
    <script src="{% static 'plugins/bower_components/custom-select/custom-select.min.js' %}"></script>
    <script src="{% static 'plugins/bower_components/bootstrap-select/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'plugins/bower_components/toast-master/js/jquery.toast.js' %}"></script>
    <script src="{% static 'plugins/bower_components/dropify/dist/js/dropify.min.js' %}"></script>
    <script src="{% static 'plugins/bower_components/datatables/media/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/bower_components/sweetalert/sweetalert.min.js' %}"></script>
    <script src="{% static 'plugins/bower_components/sweetalert/jquery.sweet-alert.custom.js' %}"></script>
    <script src="{% static 'plugins/bower_components/blockUI/jquery.blockUI.js' %}"></script>
    <script src="{% static 'plugins/bower_components/inputmask/dist/min/jquery.inputmask.bundle.min.js' %}"></script>
    <script src="{% static 'js/mask.js' %}"></script>
    <script src="{% static 'js/lib/toastr.js' %}"></script>
    <!--script src="{% static 'plugins/bower_components/raphael/raphael-min.js' %}"></script-->
    <script src="{% static 'js/lib/custom.js' %}"></script>
    <script src="{% static 'js/own/my-script.js' %}"></script>
    <script src="{% static 'plugins/bower_components/moment/moment.js' %}"></script>
    <!-- Date Picker Plugin JavaScript -->
    <script src="{% static 'plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.es.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
    <script src="{% static 'plugins/bower_components/axios/dist/axios.min.js' %}"></script>
    <script src="{% static 'plugins/bower_components/vue/dist/vue.min.js' %}"></script>

    {% block scripts %}{% endblock scripts %}
    <script>
        $('#myTable').DataTable({
            "ordering": false,
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "zeroRecords": "No se encontraron datos.",
                "info": "Página _PAGE_ de _PAGES_",
                "infoEmpty": "No existen registros",
                "infoFiltered": "(resultado de _MAX_ registros en total.)",
                "paginate": {
                    "first": "Primer registro",
                    "last": "Último registro",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
                "search": "Buscar:",
            }
        });
    </script>
    <script src="{% static 'js/app/scriptApp.js' %}"></script>
    <script src="{% static 'js/app/datos.js' %}"></script>
</body>
</html>