{% extends "base.html" %}
{% block titulo %}
Centros de Costos
{% endblock titulo %}
{% load static %}
{% block estilo %}
<style>
    .checkbox {
        font-weight: 500;
    }

    .checkbox label {
        font-weight: 500;
    }
</style>
{% endblock estilo %}
{% block contenido %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="text-bold"><i class="ti-user"></i>
                    Registro de Centro de Costos</h2>
            </div>
            <div class="panel-wrapper">
                <div class="panel-body">
                    {% csrf_token %}
                    {% if editar %}
                    <input type="hidden" value="{{dato.pk}}" name="id">
                    {% endif %}
                    <div class="col-md-6">
                        <div class="col-md-12 margin-bottom-5px">
                            <div class="form-group">
                                <div class="col-md-5 text-right">
                                <label class="control-label">Código :</label>
                                </div>
                                <div class="col-md-7">
                                    <input type="text" {% if editar %}disabled{% endif %} name="cc_codigo" value="{{dato.code}}" id="txtptDescripcion" maxlength="5" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 margin-bottom-5px">
                            <div class="form-group">
                                <div class="col-md-5 text-right">
                                <label for="txtptDescripcion" class="control-label">Descripción :</label>
                                </div>
                                <div class="col-md-7">
                                    <input type="text" name="cc_descripcion" value="{{dato.descripcion}}" id="txtptDescripcion" maxlength="250" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-5"></div>
                                <div class="col-md-7">
                                    <div class="checkbox checkbox-success">
                                        {% if editar %}
                                        {% if dato.active %}
                                        <input id="chkActivo" name="cc_activo" type="checkbox" checked>
                                        {% else %}
                                        <input id="chkActivo" name="cc_activo" type="checkbox" >
                                        {% endif %}
                                        {% else %}
                                        <input id="chkActivo" name="cc_activo" type="checkbox" checked>
                                        {% endif %}
                                        <label for="chkActivo" class="control-label"> Activo </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-action col-md-12 text-right">
                            {% if editar %}
                            <button id="btnccActualizar" class="btn btn-success">Actualizar</button>
                            {% else %}
                            <button id="btnccGuardar" class="btn btn-success">Guardar</button>
                            {% endif %}
                            <button id="btnccCancelar" class="btn btn-default">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
{% block scripts %}
<script>
    //#region Efectos en SideBar
    $('#side-menu a').removeClass('active');
    $('#aCorporativo').addClass('active');
    $('#aCCostos').addClass('active');
    $('#sCCostos1').addClass('active');
    $('#aCorporativo').parents('li').addClass('active');
    $('#aUsuarioEmpresa').parents('li').addClass('active');
    //#endregion
</script>
{% endblock scripts %}