{% extends "base.html" %}
{% block titulo %}
Listado Deducciones Individuales en Planilla
{% endblock titulo %}
{% load static %}
{% block contenido %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="text-bold"><i class="fa fa-list"></i>
                    Listado Deducciones Individuales Únicas</h2>
            </div>
            
            <div class="panel-wrapper">
                <div class="panel-body">
                    <div class="row text-right">
                        <div class="col-md-12">
                            <a href="{% url 'deduccion_individual_planilla_archivo' %}" class="btn btn-info">Cargar por archivo</a>
                            {% if perms.worksheet.add_deduccionindividualplanilla %}
                            <a href="{% url 'deduccion_individual_planilla_form' %}" class="btn btn-primary">Agregar</a>
                            {% endif %}
                        </div>
                    </div>
                    <br>
                    <div class="table-responsive">
                        <table id="myTable" class="table table-striped">
                            {% csrf_token %}
                            <thead>
                                <tr>
                                    <th>Empleado</th>
                                    <th>Planilla</th>
                                    <th>Deducción</th>
                                    <th>Valor</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in lista %}
                                <tr>
                                    <td>{{item.empleado.firstName}}{% if item.empleado.middleName %}{{item.empleado.middleName}}{% endif %} {{item.empleado.lastName}}</td>
                                    <td>{{item.planilla.descripcion}}</td>
                                    <td>{{item.deduccion.deduccion_i}}</td>
                                    <td>{{item.valor}}</td>                         
                                    <td class="text-nowrap acciones">
                                        {% if perms.worksheet.change_deduccionindividualplanilla %}
                                        <a href="{% url 'deduccion_indidvidual_planilla_editar' item.pk %}" data-toggle="tooltip" data-original-title="Editar">
                                            <i class="fa fa-pencil text-inverse m-r-10"></i>
                                        </a>
                                        {% endif %}
                                        {% if perms.worksheet.delete_deduccionindividualplanilla %}
                                        <a href="#" class="btnEliminar" data="{{item.pk}}" data-toggle="tooltip" data-original-title="Eliminar">
                                            <i class="fa fa-close text-danger"></i>
                                        </a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
{% block scripts %}
<script>
    var token = $('input[name="csrfmiddlewaretoken"]');
    //#region Efectos en SideBar
    $('#side-menu a').removeClass('active');
    $('#aAcciones').addClass('active');
    $('#accionesNomina').addClass('active');
    $('#aDIP').addClass('active');
    $('#aAcciones').parents('li').addClass('active');
    $('#accionesNomina').parents('li').addClass('active');
    //#endregion

    //#region Eventos Controles
    $('.acciones .btnEliminar').on('click', function(e) {
        e.preventDefault();
        var id = $(this).attr('data');
        Eliminar(id);
    });
    //#endregion

    //#region Funciones
    function Eliminar(id) {
        var Encabezado = 'Deducción Individual en Planilla';
        var url = "/eliminar/deduccion-individual-planilla/"; // the script where you handle the form input.
        $.ajax({
            type: "POST",
            url: url,
            data: {
                'id': id,
                'csrfmiddlewaretoken': token.val(),
            }, // serializes the form's elements.
            success: function(data)
            {
                if(data.error == false){
                    $.toast({
                        heading: Encabezado,
                        text: data.mensaje,
                        position: 'top-right',
                        loaderBg: '#ff6849',
                        icon: 'success',
                        hideAfter: 2000,
                        stack: 6
                    });
                    setTimeout(function () {
                        location.reload();
                    }, 2000);
                }else{
                    $.toast({
                        heading: Encabezado,
                        text: data.mensaje,
                        position: 'top-right',
                        loaderBg: '#ff6849',
                        icon: 'error',
                        hideAfter: 5000,
                        stack: 6
                    });
                }
            },
            error: function(data) {
                console.log(data);
                $.toast({
                    heading: Encabezado,
                    text: data.status + ' - ' + data.statusText,
                    position: 'top-right',
                    loaderBg: '#ff6849',
                    icon: 'error',
                    hideAfter: 5000,
                    stack: 6
                });
            }
        });
    }
    //#endregion
</script>
{% endblock scripts %}