{% extends "base.html" %}
{% block titulo %}
Registro de Departamentos de la Empresa
{% endblock titulo %}
{% block estilo %}
<style>
    .checkbox{
        font-weight: 500;
    }
    .checkbox label{
        font-weight: 500;
    }
</style>
{% endblock estilo %}
{% load static %}
{% block contenido %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="text-bold"><i class="ti-user"></i>
                    Registro de Departamento de la Empresa</h2>
            </div>
            <div class="panel-wrapper">
                <div class="panel-body">
                    {% csrf_token %}
                    {% if editar %}
                    <input type="hidden" value="{{dato.pk}}" name="id">
                    {% endif %}
                    <div class="col-md-6">
                        <div class="col-md-12 margin-bottom-5px">
                            <div class="form-group">
                                <div class="col-md-5 text-right">
                                    <label for="txtNombre" class="control-label">Código :</label>
                                </div>
                                <div class="col-md-7">
                                    <input type="text" {% if editar %}disabled{% endif %} name="nombre" value="{{dato.code}}" id="txtNombre" class="form-control" maxlength="5">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 margin-bottom-5px">
                            <div class="form-group">
                                <div class="col-md-5 text-right">
                                    <label for="txtDescripcion" class="control-label">Descripción :</label>
                                </div>
                                <div class="col-md-7">
                                    <input type="text" name="descripcion" value="{{dato.description}}" maxlength="250" id="txtDescripcion" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-5"></div>
                                <div class="col-md-7">
                                    <div class="checkbox checkbox-success">
                                        {% if editar %}
                                            {% if dato.active %}
                                            <input id="chkActivo" name="activo" type="checkbox" checked>
                                            {% else %}
                                            <input id="chkActivo" name="activo" type="checkbox">
                                            {% endif %}
                                        {% else %}
                                            <input id="chkActivo" name="activo" type="checkbox" checked>
                                        {% endif %}
                                        <label for="chkActivo" class="control-label"> Activo </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-action col-md-12 text-right">
                            {% if editar %}
                            <button id="btnActualizar" class="btn btn-success">Actualizar</button>
                            {% else %}
                            <button id="btnGuardar" class="btn btn-success">Guardar</button>
                            {% endif %}
                            <button id="btnCancelar" class="btn btn-default">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
{% block scripts %}
<script src="{% static 'js/app/departamentos.js' %}"></script>
<script>
    $('#aCorporativo').parents('li').addClass('active');
    $('#aUsuarioEmpresa').parents('li').addClass('active');
</script>
{% endblock scripts %}