{% extends "base.html" %}
{% load static %}
{% block titulo %}Datos del Empleado{% endblock titulo %}
{% block estilo %}
<style>
    .checkbox{
        font-weight: 500;
    }
    .checkbox label{
        font-weight: 500;
    }
</style>
{% endblock estilo %}
{% block contenido %}

<div id="frmEmpleado" class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="{% url 'home' %}">Inicio</a></li>
                    <li><a href="{% url 'empleados-listado' %}">Listado de Empleados</a></li>
                    <li class="active">Empleado</li>
                </ol>
            </div>
            <div class="panel-heading">
                <h2 class="text-bold"><i class="ti-user"></i>
                     {% if editar %} Editar {% else %} Nuevo {% endif %}registro de empleado</h2>
            </div>
            <div class="panel-wrapper">
                <div class="panel-body">
                    <form class="">
                        {% csrf_token %}
                        {% if editar %}
                            <input type="hidden" value="{{dato.pk}}" name="emp_id">
                        {% endif %}
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-12 margin-bottom-5px">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-5 text-right">
                                                <label for="" class="control-label">Primer Nombre :</label>
                                            </div>
                                            <div class="col-md-7">
                                                <input type="text" value="{{dato.firstName}}" name="primerNombre" id="txtPrimerNombre" class="form-control input-sm input-sm-1">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-5 text-right">
                                                <label for="" class="control-label">Codigo :</label>
                                            </div>
                                            <div class="col-md-7">
                                                <input type="text" name="noEmpExt" value="{% if dato.extEmpNo %}{{dato.extEmpNo}}{% endif %}" id="txtNoEmpExt" class="form-control input-sm input-sm-1">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 margin-bottom-5px">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-5 text-right">
                                                <label for="" class="control-label">Segundo Nombre :</label>
                                            </div>
                                            <div class="col-md-7">
                                                <input type="text" value="{% if dato.middleName %}{{dato.middleName}}{% endif %}" name="segundoNombre" id="txtSegundoNombre" class="form-control input-sm input-sm-1">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 margin-bottom-5px">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-5 text-right">
                                                <label for="" class="control-label">Apellidos :</label>
                                            </div>
                                            <div class="col-md-7">
                                                <input type="text" value="{% if dato.lastName %}{{dato.lastName}}{% endif %}" name="apellido" id="txtApellido" class="form-control input-sm input-sm-1">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="checkbox checkbox-success">
                                                <input id="chkActivo" type="checkbox" {% if editar %}{% if dato.active %}checked{% endif %}{% else %}checked{% endif %}  class="input-sm">
                                                <label for="chkActivo" class="control-label"> Activo </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 margin-bottom-5px">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-5 text-right">
                                                <label for="" class="control-label">Función Operativa :</label>
                                            </div>
                                            <div class="col-md-7">
                                                <select class="form-control input-sm input-sm-1" name="funcionOperativa" id="cboFuncionOperativa">
                                                    <option value="0">Seleccionar</option>
                                                    {% for funcion_operativa in funciones_operativas %}
                                                    {% if editar %}
                                                        {% if dato.position.funcion_operativa == funcion_operativa %}
                                                            <option value="{{funcion_operativa.pk}}" selected>{{funcion_operativa.descripcion}}</option>
                                                        {% else %}
                                                            <option value="{{funcion_operativa.pk}}">{{funcion_operativa.descripcion}}</option>
                                                        {% endif %}
                                                    {% else %}
                                                        <option value="{{funcion_operativa.pk}}">{{funcion_operativa.descripcion}}</option>
                                                    {% endif %}
                                                    {% endfor %}
                                                </select>
                                                {% comment '' %}
                                                <input type="text" value="{% if dato.jobTitle %}{{dato.jobTitle}}{% endif %}" name="jobTitle" id="txtJobTitle" class="form-control input-sm input-sm-1">
                                                {% endcomment %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 margin-bottom-5px">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-5 text-right">
                                                <label for="cboPosicion" class="control-label">Posición :</label>
                                            </div>
                                            <div class="col-md-7">
                                                <select class="form-control input-sm input-sm-1" name="position" id="cboPosicion">
                                                    <option value="0">Seleccionar</option>
                                                    {% for position in positions %}
                                                    {% if editar %}
                                                        {% if dato.position == position %}
                                                            <option value="{{position.pk}}" selected>{{position.description}}</option>
                                                        {% else %}
                                                            {% if dato.position.funcion_operativa == position.funcion_operativa %}
                                                            <option value="{{position.pk}}">{{position.description}}</option>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% else %}
                                                        <option value="{{position.pk}}">{{position.description}}</option>
                                                    {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-5 text-right">
                                                <label for="txtTelefonoOficina" class="control-label"> Teléfono de la oficina :</label>
                                            </div>
                                            <div class="col-md-7">
                                                <input id="txtTelefonoOficina" name="tel_ofi" value="{% if dato.officeTel %}{{dato.officeTel}}{% endif %}" type="text" class="form-control input-sm input-sm-1">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 margin-bottom-5px">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-5 text-right">
                                                <label for="" class="control-label">Departamento :</label>
                                            </div>
                                            <div class="col-md-7">
                                                <select class="form-control input-sm input-sm-1" name="dept" id="cboDepto">
                                                    <option value="0">Seleccionar...</option>
                                                    {% for department in departments %}
                                                        {% if editar %} 
                                                            {% if dato.dept == department %}
                                                                <option value="{{department.pk}}" selected>{{department.description}}</option>
                                                            {% else %}
                                                                <option value="{{department.pk}}">{{department.description}}</option>
                                                            {% endif %} 
                                                        {% else %}
                                                            <option value="{{department.pk}}">{{department.description}}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-5 text-right">
                                                <label for="txtExtension" class="control-label"> Extensión :</label>
                                            </div>
                                            <div class="col-md-7">
                                                <input id="txtExtension" name="ext" value="{% if dato.officeExt %}{{dato.officeExt}}{% endif %}" type="text" class="form-control input-sm input-sm-1">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 margin-bottom-5px">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-5 text-right">
                                                <label for="" class="control-label">Sucursal :</label>
                                            </div>
                                            <div class="col-md-7">
                                                <select class="form-control input-sm input-sm-1" name="sucursal" id="cboSucursal">
                                                    <option value="0">Seleccionar...</option>
                                                    {% for branch in branches %}
                                                        {% if editar %} 
                                                            {% if dato.branch == branch %}
                                                                <option value="{{branch.pk}}" selected>{{branch.description}}</option>
                                                            {% else %}
                                                                <option value="{{branch.pk}}">{{branch.description}}</option>
                                                            {% endif %} 
                                                        {% else %}
                                                            <option value="{{branch.pk}}">{{branch.description}}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-5 text-right">
                                                <label for="txtExtension" class="control-label"> Teléfono móvil :</label>
                                            </div>
                                            <div class="col-md-7">
                                                <input id="txtTelMovil" value="{% if dato.mobile %}{{dato.mobile}}{% endif %}" type="text" class="form-control input-sm input-sm-1" name="telMov">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 margin-bottom-5px">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-5 text-right">
                                                <label for="" class="control-label">Jefe Inmediato :</label>
                                            </div>
                                            <div class="col-md-7">
                                                <select class="form-control input-sm input-sm-1" name="jefe" id="cboSlsPerson">
                                                    <option value="0">Seleccionar...</option>
                                                    {% for emp in empleados %}
                                                        {% if editar %} 
                                                            {% if dato.jefe == emp %}
                                                                <option value="{{emp.pk}}" selected>{{emp.firstName}} {{emp.lastName}}</option>
                                                            {% else %}
                                                                <option value="{{emp.pk}}">{{emp.firstName}} {{emp.lastName}}</option>
                                                            {% endif %}
                                                        {% else %}
                                                            <option value="{{emp.pk}}">{{emp.firstName}} {{emp.lastName}}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-5 text-right">
                                                <label for="txtTelCasa" class="control-label"> Teléfono de casa :</label>
                                            </div>
                                            <div class="col-md-7">
                                                <input id="txtTelCasa" value="{% if dato.homeTel %}{{dato.homeTel}}{% endif %}" type="text" class="form-control input-sm input-sm-1" name="telCasa">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 margin-bottom-5px">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-5 text-right">
                                                <label for="" class="control-label">Código de Vendedor :</label>
                                            </div>
                                            <div class="col-md-7">
                                                <select class="form-control input-sm input-sm-1" name="slsPer" id="cboSlsPerson">
                                                    <option value="0">Seleccionar...</option>
                                                    {% for salesPerson in salesPersons %}
                                                        {% if editar %} 
                                                            {% if dato.slsPerson == salesPerson %}
                                                                <option value="{{salesPerson.pk}}" selected>{{salesPerson.nombre}}</option>
                                                            {% else %}
                                                                <option value="{{salesPerson.pk}}">{{salesPerson.nombre}}</option>
                                                            {% endif %}
                                                        {% else %}
                                                            <option value="{{salesPerson.pk}}">{{salesPerson.nombre}}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-5 text-right">
                                                <label for="txtRedSocial1" class="control-label"> Red Social 1 :</label>
                                            </div>
                                            <div class="col-md-7">
                                                <input id="txtRedSocial1" value="{% if dato.socialNetwork1 %}{{dato.socialNetwork1}}{% endif %}" name="redsocial1" type="text" class="form-control input-sm input-sm-1">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 margin-bottom-5px">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-5 text-right">
                                                <label for="txtCorreo" class="control-label">Correo electrónico :</label>
                                            </div>
                                            <div class="col-md-7">
                                                <input id="txtCorreo" value="{% if dato.email %}{{dato.email}}{% endif %}" name="email" type="text" class="form-control input-sm input-sm-1">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-5 text-right">
                                                <label for="txtRedSocial2" class="control-label"> Red Social 2 :</label>
                                            </div>
                                            <div class="col-md-7">
                                                <input id="txtRedSocial2" name="redsocial2" value="{% if dato.socialNetwork2 %}{{dato.socialNetwork2}}{% endif %}" type="text" class="form-control input-sm input-sm-1">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Tabs -->
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active">
                                            <a href="#home" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">
                                                <span class="visible-xs">
                                                    <i class="ti-home"></i>
                                                </span>
                                                <span class="hidden-xs">Dirección</span>
                                            </a>
                                        </li>
                                        <li role="presentation">
                                            <a href="#gestion" aria-controls="gestion" role="tab" data-toggle="tab" aria-expanded="true">
                                                <span class="visible-xs">
                                                    <i class="ti-user"></i>
                                                </span>
                                                <span class="hidden-xs">Gestion</span>
                                            </a>
                                        </li>
                                        <li role="presentation">
                                            <a href="#personal" aria-controls="personal" role="tab" data-toggle="tab" aria-expanded="true">
                                                <span class="visible-xs">
                                                    <i class="ti-user"></i>
                                                </span>
                                                <span class="hidden-xs">Personal</span>
                                            </a>
                                        </li>
                                        <li role="presentation">
                                            <a href="#financiera" aria-controls="financiera" role="tab" data-toggle="tab" aria-expanded="true">
                                                <span class="visible-xs">
                                                    <i class="ti-user"></i>
                                                </span>
                                                <span class="hidden-xs">Financiera</span>
                                            </a>
                                        </li>
                                        <li role="presentation">
                                            <a href="#comentarios" aria-controls="comentarios" role="tab" data-toggle="tab" aria-expanded="true">
                                                <span class="visible-xs">
                                                    <i class="ti-user"></i>
                                                </span>
                                                <span class="hidden-xs">Comentarios</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <!-- Dirección -->
                                        <div role="tabpanel" class="tab-pane active" id="home">
                                            <div class="col-md-6">
                                                <h3>Dirección de residencia</h3>
                                                <div class="row margin-bottom-5px">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="col-md-5 text-right">
                                                                <label for="" class="control-label">País :</label>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <select class="form-control input-sm input-sm-1" name="hpais" id="cboHPais">
                                                                    <option value="0">Seleccionar...</option>
                                                                    {% for country in countries %}
                                                                        {% if editar %} 
                                                                            {% if dato.homeCountry == country %}
                                                                                <option selected value="{{country.pk}}">{{country.name}}</option>
                                                                            {% else %}
                                                                                <option value="{{country.pk}}">{{country.name}}</option>
                                                                            {% endif %} 
                                                                        {% else %}
                                                                            <option value="{{country.pk}}">{{country.name}}</option>
                                                                        {% endif %}
                                                                    <!--option value="{{country.pk}}">{{country.name}}</option-->
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row margin-bottom-5px">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="col-md-5 text-right">
                                                                <label for="" class="control-label">Estado/Departamento :</label>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <select class="form-control input-sm input-sm-1" name="hdept" id="cboDeptoH">
                                                                    <option value="0">Seleccionar...</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row margin-bottom-5px">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="col-md-5 text-right">
                                                                <label for="txtCondado" class="control-label">Condado/Municipio :</label>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <input id="txtCondado" type="text" value="{% if dato.homeCounty %}{{dato.homeCounty}}{% endif %}" name="condado" class="form-control input-sm input-sm-1  ">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row margin-bottom-5px">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="col-md-5 text-right">
                                                                <label for="txtCiudad" class="control-label">Ciudad :</label>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <input id="txtCiudad" value="{% if dato.homeCity %}{{dato.homeCity}}{% endif %}" type="text" name="ciudad" class="form-control input-sm input-sm-1">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row margin-bottom-5px">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="col-md-5 text-right">
                                                                <label for="txtNoCalle" class="control-label">Barrio :</label>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <input id="txtNoCalle" value="{% if dato.streetNoH %}{{dato.streetNoH}}{% endif %}" type="text" name="nCalle" class="form-control input-sm input-sm-1">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row margin-bottom-5px">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="col-md-5 text-right">
                                                                <label for="txtCalle" class="control-label">Calle :</label>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <input id="txtCalle" value="{% if dato.homeStreet %}{{dato.homeStreet}}{% endif %}"  type="text" name="calle" class="form-control input-sm input-sm-1">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row margin-bottom-5px">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="col-md-5 text-right">
                                                                <label for="txtBloque" class="control-label">Bloque :</label>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <input id="txtBloque" value="{% if dato.homeBlock %}{{dato.homeBlock}}{% endif %}" type="text" name="bloque" class="form-control input-sm input-sm-1">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row margin-bottom-5px">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="col-md-5 text-right">
                                                                <label for="txtEdificio" class="control-label">Edificio/Casa :</label>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <input id="txtEdificio" value="{% if dato.homeBuild %}{{dato.homeBuild}}{% endif %}" type="text" name="edif" class="form-control input-sm input-sm-1">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row margin-bottom-5px">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="col-md-5 text-right">
                                                                <label for="txtCodigoPostal" class="control-label">Código postal :</label>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <input id="txtCodigoPostal" value="{% if dato.homeZip %}{{dato.homeZip}}{% endif %}" type="text" name="codPos" class="form-control input-sm input-sm-1">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row margin-bottom-5px">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="col-md-5 text-right">
                                                                <label for="txtLatitud" class="control-label">Latitud Geolocalización :</label>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <input id="txtLatitud" value="{% if dato.lat %}{{dato.lat}}{% endif %}" type="text" name="latitud" class="form-control input-sm input-sm-1">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row margin-bottom-5px">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="col-md-5 text-right">
                                                                <label for="txtLongitud" class="control-label">Longitud Geolocalización :</label>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <input id="txtLongitud" value="{% if dato.lng %}{{dato.lng}}{% endif %}" type="text" name="longitud" class="form-control input-sm input-sm-1">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <h3>Dirección de oficina</h3>
                                                <div class="row margin-bottom-5px">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="col-md-5 text-right">
                                                                <label for="cboWPais" class="control-label">País :</label>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <select class="form-control input-sm input-sm-1" name="wpais" id="cboWPais">
                                                                    <option value="0">Seleccionar...</option>
                                                                    {% for country in countries %}
                                                                        {% if editar %} {% if dato.workCountry == country %}
                                                                        <option selected value="{{country.pk}}">{{country.name}}</option>
                                                                        {% else %}
                                                                        <option value="{{country.pk}}">{{country.name}}</option>
                                                                        {% endif %} {% else %}
                                                                        <option value="{{country.pk}}">{{country.name}}</option>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row margin-bottom-5px">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="col-md-5 text-right">
                                                                <label for="cboWEstado" class="control-label">Estado/Departamento :</label>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <select class="form-control input-sm input-sm-1" name="wdept" id="cboWEstado">
                                                                        <option value="0">Seleccionar...</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row margin-bottom-5px">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="col-md-5 text-right">
                                                                <label for="txtWCondado" class="control-label">Condado/Municipio :</label>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <input id="txtWCondado" value="{% if dato.workCounty %}{{dato.workCounty}}{% endif %}" type="text" name="wcondado" class="form-control input-sm input-sm-1">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row margin-bottom-5px">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="col-md-5 text-right">
                                                                <label for="txtWCiudad" class="control-label">Ciudad :</label>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <input id="txtWCiudad" value="{% if dato.workCity %}{{dato.workCity}}{% endif %}" type="text" name="wciudad" class="form-control input-sm input-sm-1  ">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row margin-bottom-5px">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="col-md-5 text-right">
                                                                <label for="txtWNoCalle" class="control-label">Barrio :</label>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <input id="txtWNoCalle" type="text" value="{% if dato.streetNoW %}{{dato.streetNoW}}{% endif %}" name="wncalle" class="form-control input-sm input-sm-1  ">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row margin-bottom-5px">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="col-md-5 text-right">
                                                                <label for="txtWCalle" class="control-label">Calle :</label>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <input id="txtWCalle" value="{% if dato.workStreet %}{{dato.workStreet}}{% endif %}" type="text" name="wcalle" class="form-control input-sm input-sm-1">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row margin-bottom-5px">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="col-md-5 text-right">
                                                                <label for="txtWBloque" class="control-label">Bloque :</label>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <input id="txtWBloque" value="{% if dato.workBlock %}{{dato.workBlock}}{% endif %}" type="text" name="wbloque" class="form-control input-sm input-sm-1  ">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row margin-bottom-5px">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="col-md-5 text-right">
                                                                <label for="txtWEdificio" class="control-label">Edificio/Casa :</label>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <input id="txtWEdificio" value="{% if dato.workBuild %}{{dato.workBuild}}{% endif %}" type="text" name="wedif" class="form-control input-sm input-sm-1  ">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row margin-bottom-5px">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="col-md-5 text-right">
                                                                <label for="txtWCodigoPostal" class="control-label">Código postal :</label>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <input id="txtWCodigoPostal" value="{% if dato.workZip %}{{dato.workZip}}{% endif %}" type="text" name="wcodPost" class="form-control input-sm input-sm-1 ">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="gestion">
                                            <div class="col-md-6">
                                                <div class="row margin-bottom-5px">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="col-md-5 text-right">
                                                                <label for="txt" class="control-label">Fecha de Inicio :</label>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <div class="input-group">
                                                                    <input id="txtFechaContrato" value="{% if dato.startDate %}{{dato.startDate|date:'Y-m-d'}}{% endif %}" name="fechaCont" type="text" class="form-control mydatepicker input-sm-1" placeholder="yyyy-mm-dd"> <span class="input-group-addon"><i class="icon-calender"></i></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row margin-bottom-5px">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="col-md-5 text-right">
                                                                <label for="cboEstadoEmp" class="control-label">Estado :</label>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <select class="form-control input-sm input-sm-1" name="estEmp" id="cboEstadoEmp">
                                                                    <option value="0">Seleccionar...</option>
                                                                    {% for status in stats %}
                                                                        {% if editar %}
                                                                        {% if dato.status == status %}
                                                                        <option value="{{status.pk}}" selected>{{status.description}}</option>
                                                                        {% else %}
                                                                        <option value="{{status.pk}}">{{status.description}}</option>
                                                                        {% endif %} {% else %}
                                                                        <option value="{{status.pk}}">{{status.description}}</option>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                <hr>
                                                </div>
                                                <div class="row margin-bottom-5px">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="col-md-5 text-right">
                                                                <label for="txt" class="control-label">Fecha de rescisión de contrato :</label>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <div class="input-group">
                                                                    <input id="txtResContrato" value="{% if dato.termDate %}{{dato.termDate|date:'Y-m-d'}}{% endif %}" name="fechaRes" type="text" class="form-control mydatepicker input-sm-1" placeholder="yyyy-mm-dd"> <span class="input-group-addon"><i class="icon-calender"></i></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row margin-bottom-5px">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="col-md-5 text-right">
                                                                <label for="cboEstadoEmp" class="control-label">Motivo rescisión del contrato :</label>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <select class="form-control input-sm input-sm-1" name="term" id="cboTerm">
                                                                    <option value="0">Seleccionar...</option>
                                                                    {% for term in terms %}
                                                                    {% if editar %} {% if dato.termReason == term %}
                                                                    <option value="{{term.pk}}" selected>{{term.description}}</option>
                                                                    {% else %}
                                                                    <option value="{{term.pk}}">{{term.description}}</option>
                                                                    {% endif %} {% else %}
                                                                    <option value="{{term.pk}}">{{term.description}}</option>
                                                                    {% endif %}
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% if antiguedad %}
                                                <div class="row margin-bottom-5px">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="col-md-5 text-right">
                                                                <label class="control-label">Antigüedad :</label>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <label id="antiguedad">{{antiguedad}}</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <!-- TAB INFORMACIÓN PERSONAL -->
                                        <div role="tabpanel" class="tab-pane" id="personal">
                                            <div class="col-md-6">
                                                <div class="row margin-bottom-5px">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="col-md-5 text-right">
                                                                <label for="cboSexo" class="control-label">Sexo :</label>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <select class="form-control input-sm input-sm-1" name="sexo" id="cboSexo">
                                                                    <option value="0">Seleccionar...</option>
                                                                    {% for item in sexs %}
                                                                    {% if editar %}
                                                                        {% if dato.sex == item %}
                                                                        <option value="{{item.pk}}" selected>{{item.description}}</option>
                                                                        {% else %}
                                                                        <option value="{{item.pk}}">{{item.description}}</option>
                                                                        {% endif %} 
                                                                    {% else %}
                                                                    <option value="{{item.pk}}">{{item.description}}</option>
                                                                    {% endif %}
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row margin-bottom-5px">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="col-md-5 text-right">
                                                                <label for="txtFechaNacimiento" class="control-label">Fecha de nacimiento :</label>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <div class="input-group">
                                                                    <input id="txtFechaNacimiento" value="{% if dato.birthDate %}{{dato.birthDate|date:'Y-m-d'}}{% endif %}" name="fecNac" type="text" class="form-control mydatepicker input-sm-1" placeholder="yyyy-mm-dd"> <span class="input-group-addon"><i class="icon-calender"></i></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row margin-bottom-5px">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="col-md-5 text-right">
                                                                <label for="cboLugarNacimiento" class="control-label">Lugar de nacimiento:</label>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <select class="form-control input-sm input-sm-1" name="lugNac" id="cboLugarNacimiento">
                                                                    <option value="0">Seleccionar...</option>
                                                                    {% for item in citizenships %}
                                                                    {% if editar %} {% if dato.birthCountry == item %}
                                                                    <option value="{{item.pk}}" selected>{{item.name}}</option>
                                                                    {% else %}
                                                                    <option value="{{item.pk}}">{{item.name}}</option>
                                                                    {% endif %} {% else %}
                                                                    <option value="{{item.pk}}">{{item.name}}</option>
                                                                    {% endif %}
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row margin-bottom-5px">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="col-md-5 text-right">
                                                                <label for="txt" class="control-label">Estado civil :</label>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <select class="form-control input-sm input-sm-1" name="estadoCivil" id="cboEstadoCivil">
                                                                    <option value="0">Seleccionar...</option>
                                                                    {% for item in civil_status %}
                                                                    {% if editar %} {% if dato.marrStatus == item %}
                                                                    <option value="{{item.pk}}" selected>{{item.description}}</option>
                                                                    {% else %}
                                                                    <option value="{{item.pk}}">{{item.description}}</option>
                                                                    {% endif %} {% else %}
                                                                    <option value="{{item.pk}}">{{item.description}}</option>
                                                                    {% endif %}
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row margin-bottom-5px">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="col-md-5 text-right">
                                                                <label for="txtCantidadHijos" class="control-label">Cantidad de hijos :</label>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <input id="txtCantidadHijos" value="{% if dato.nChildren %}{{dato.nChildren}}{% endif %}" type="text" name="cantHijos" class="form-control input-sm input-sm-1">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row margin-bottom-5px">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="col-md-5 text-right">
                                                                <label for="txtNoId" class="control-label">No de ID :</label>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <input id="txtNoId" type="text" value="{% if dato.govID %}{{dato.govID}}{% endif %}" name="num_id" class="form-control input-sm input-sm-1">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row margin-bottom-5px">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="col-md-5 text-right">
                                                                <label for="cboNacionalidad" class="control-label">Nacionalidad :</label>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <select class="form-control input-sm input-sm-1" name="citiz" id="cboNacionalidad">
                                                                    <option value="0">Seleccionar...</option>
                                                                    {% for item in citizenships %}
                                                                    {% if editar %} {% if dato.citizenship == item %}
                                                                    <option value="{{item.pk}}" selected>{{item.name}}</option>
                                                                    {% else %}
                                                                    <option value="{{item.pk}}">{{item.name}}</option>
                                                                    {% endif %} {% else %}
                                                                    <option value="{{item.pk}}">{{item.name}}</option>
                                                                    {% endif %}
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row margin-bottom-5px">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="col-md-5 text-right">
                                                                <label for="txtNoPasaporte" class="control-label">No de Pasaporte :</label>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <input id="txtNoPasaporte" value="{% if dato.passportNo %}{{dato.passportNo}}{% endif %}" type="text" name="numPass" class="form-control input-sm input-sm-1">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row margin-bottom-5px">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="col-md-5 text-right">
                                                                <label for="txtFechaVencPasaporte" class="control-label">Fecha de vencimiento :</label>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <div class="input-group">
                                                                    <input id="txtFechaVencPasaporte" value="{% if dato.passportExt %}{{dato.passportExt|date:'Y-m-d'}}{% endif %}" name="fecPassExt" type="text" class="form-control mydatepicker input-sm-1" placeholder="yyyy-mm-dd"> <span class="input-group-addon"><i class="icon-calender"></i></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row margin-bottom-5px">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="col-md-5 text-right">
                                                                <label for="txtFechaEmision" class="control-label">Fecha de emisión :</label>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <div class="input-group">
                                                                    <input id="txtFechaEmision" name="fecEmis" value="{% if dato.passIssue %}{{dato.passIssue|date:'Y-m-d'}}{% endif %}" type="text" class="form-control mydatepicker input-sm-1" placeholder="yyyy-mm-dd"> <span class="input-group-addon"><i class="icon-calender"></i></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row margin-bottom-5px">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="col-md-5 text-right">
                                                                <label for="txtEmisor" class="control-label">Emisor de Pasaporte :</label>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <input id="txtEmisor" value="{% if dato.passIssuer %}{{dato.passIssuer}}{% endif %}" type="text" name="emisor" class="form-control input-sm input-sm-1">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row margin-bottom-5px">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="col-md-5 text-right">
                                                                <label for="txtEmpleadoRTN" class="control-label">R.T.N. :</label>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <input id="txtEmpleadoRTN" value="{% if dato.rtn %}{{dato.rtn}}{% endif %}" name="empleado_rtn" type="text" class="form-control input-sm input-sm-1">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- TAB INFORMACIÓN FINANCIERA -->
                                        <div role="tabpanel" class="tab-pane" id="financiera">
                                            <div class="col-md-6">
                                                <div class="row margin-bottom-5px">
                                                    <div class="form-group">
                                                        <div class="col-md-5 text-right">
                                                            <label for="txtSalario" class="control-label">Salario :</label>
                                                        </div>
                                                        <div class="col-md-7">
                                                            <input id="txtSalario" type="text" value="{% if dato.salary %}{{dato.salary}}{% endif %}" name="salario" class="form-control input-sm input-sm-1">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row margin-bottom-5px">
                                                    <div class="form-group">
                                                        <div class="col-md-5 text-right">
                                                            <label for="txtSalario" class="control-label">Frecuencia de Pago :</label>
                                                        </div>
                                                        <div class="col-md-7">
                                                            <select class="form-control input-sm input-sm-1" name="salaryUnits" id="cboUnidadesSalario">
                                                                <option value="0">Seleccionar...</option>
                                                                {% for item in salary_units %}
                                                                {% if editar %} {% if dato.salaryUnits == item %}
                                                                <option value="{{item.pk}}" selected>{{item.description}}</option>
                                                                {% else %}
                                                                <option value="{{item.pk}}">{{item.description}}</option>
                                                                {% endif %} {% else %}
                                                                <option value="{{item.pk}}">{{item.description}}</option>
                                                                {% endif %}
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row margin-bottom-5px">
                                                    <div class="form-group">
                                                        <div class="col-md-5 text-right">
                                                            <label class="control-label">Salario Diario :</label>
                                                        </div>
                                                        <div class="col-md-7">
                                                            <input value="{% if dato.salario_diario %}{{dato.salario_diario}}{% endif %}" readonly type="text" name="txtSalarioDiario" class="form-control input-sm input-sm-1">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row margin-bottom-5px">
                                                    <div class="form-group">
                                                        <div class="col-md-5 text-right">
                                                            <label class="control-label">Tipo de Nómina :</label>
                                                        </div>
                                                        <div class="col-md-7">
                                                            <select class="form-control input-sm input-sm-1" name="cboTipoNomina" id="cboTipoNomina">
                                                                <option value="0">Seleccionar...</option>
                                                                {% for item in tipos_nominas %}
                                                                {% if editar %} {% if dato.tipo_nomina == item %}
                                                                <option value="{{item.pk}}" selected>{{item.tipo_planilla}}</option>
                                                                {% else %}
                                                                <option value="{{item.pk}}">{{item.tipo_planilla}}</option>
                                                                {% endif %} {% else %}
                                                                <option value="{{item.pk}}">{{item.tipo_planilla}}</option>
                                                                {% endif %}
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row margin-bottom-5px">
                                                    <div class="form-group">
                                                        <div class="col-md-5 text-right">
                                                            <label class="control-label">Tipo de Contrato :</label>
                                                        </div>
                                                        <div class="col-md-7">
                                                            <select class="form-control input-sm input-sm-1" name="cboTipoContrato" id="cboTipoContrato">
                                                                <option value="0">Seleccionar...</option>
                                                                {% for item in tipos_contratos %}
                                                                {% if editar %} {% if dato.tipo_contrato == item %}
                                                                <option value="{{item.pk}}" selected>{{item.tipo_contrato}}</option>
                                                                {% else %}
                                                                <option value="{{item.pk}}">{{item.tipo_contrato}}</option>
                                                                {% endif %} {% else %}
                                                                <option value="{{item.pk}}">{{item.tipo_contrato}}</option>
                                                                {% endif %}
                                                                {% endfor %}
                                                            </select>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="hide row margin-bottom-5px">
                                                    <div class="form-group">
                                                        <div class="col-md-5 text-right">
                                                            <label for="txtCostosEmpleado" class="control-label">Costos del empleado :</label>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <input id="txtCostosEmpleado" value="{% if dato.empCost %}{{dato.empCost}}{% endif %}" type="text" name="costEmp" class="form-control input-sm input-sm-1">
                                                        </div>
                                                        <div class="col-md-4">
                                                            <select class="form-control input-sm input-sm-1" name="costEmpUni" id="cboUnidadesCosto">
                                                                <option value="0">Seleccionar...</option>
                                                                {% for item in costs_units %}
                                                                {% if editar %} {% if dato.empCostUnit == item %}
                                                                <option value="{{item.pk}}" selected>{{item.description}}</option>
                                                                {% else %}
                                                                <option value="{{item.pk}}">{{item.description}}</option>
                                                                {% endif %} {% else %}
                                                                <option value="{{item.pk}}">{{item.description}}</option>
                                                                {% endif %}
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <h3>Información bancaria detallada</h3>
                                                <div class="row margin-bottom-5px">
                                                    <div class="form-group">
                                                        <div class="col-md-5 text-right">
                                                            <label for="cboBanco" class="control-label">Métodos de Pago :</label>
                                                        </div>
                                                        <div class="col-md-7">
                                                            <div class="radio radio-info">
                                                                <input type="radio" name="metodo_pago" id="m_efectivo" value="0" {% if editar %}{% if dato.metodo_pago == 0 %}checked{% endif %}{% endif %}>
                                                                <label for="m_efectivo"> Efectivo </label>
                                                            </div>
                                                            <div class="radio radio-info">
                                                                <input type="radio" name="metodo_pago" id="m_cheque" value="1" {% if editar %}{% if dato.metodo_pago == 1 %}checked{% endif %}{% endif %}>
                                                                <label for="m_cheque"> Cheque </label>
                                                            </div>
                                                            <div class="radio radio-info">
                                                                <input type="radio" name="metodo_pago" id="m_deposito" value="2" {% if editar %}{% if dato.metodo_pago == 2 %}checked{% endif %}{% else %}checked{% endif %}>
                                                                <label for="m_deposito"> Depósito </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="datosbancos" class="{% if editar %}{% if dato.metodo_pago != 2 %}hide{% endif %}{% endif %}">
                                                    <div class="row margin-bottom-5px">
                                                        <div class="form-group">
                                                            <div class="col-md-5 text-right">
                                                                <label for="cboBanco" class="control-label">Banco :</label>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <select class="form-control input-sm input-sm-1" name="banco" id="cboBanco">
                                                                    <option value="0">Seleccionar...</option>
                                                                    {% for item in banks %}
                                                                    {% if editar %} {% if dato.bankCode == item %}
                                                                    <option value="{{item.pk}}" selected>{{item.description}}</option>
                                                                    {% else %}
                                                                    <option value="{{item.pk}}">{{item.description}}</option>
                                                                    {% endif %} {% else %}
                                                                    <option value="{{item.pk}}">{{item.description}}</option>
                                                                    {% endif %}
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row margin-bottom-5px">
                                                        <div class="form-group">
                                                            <div class="col-md-5 text-right">
                                                                <label for="txtNoCuenta" class="control-label">No. de cuenta :</label>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <input id="txtNoCuenta" value="{% if dato.bankAccount %}{{dato.bankAccount}}{% endif %}" type="text" name="num_cuenta" class="form-control input-sm input-sm-1">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row margin-bottom-5px">
                                                        <div class="form-group">
                                                            <div class="col-md-5 text-right">
                                                                <label for="txtSucursal" class="control-label">Sucursal :</label>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <input id="txtSucursal" type="text" value="{% if dato.branchBank %}{{dato.branchBank}}{% endif %}" name="bankSucursal" class="form-control input-sm input-sm-1">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="comentarios">
                                            <div class="form-group">
                                                <div class="col-md-2 text-right">
                                                    <label for="txtComentarios" class="control-label">Comentarios :</label>
                                                </div>
                                                <div class="col-md-10">
                                                    <textarea name="comentarios" id="txtComentarios" rows="7" class="form-control">{% if dato.remark %}{{dato.remark}}{% endif %}</textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <!-- Botones del formulario -->
                        <div class="form-action">
                            {% if editar %}
                                <button id="btnActualizar" class="btn btn-success">Actualizar</button>
                            {% else %}
                                <button id="btnGuardar" class="btn btn-success">Guardar</button>
                            {% endif %}
                            <button id="btnCancelar" class="btn btn-default">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
{% block scripts %}
<script src="{% static 'js/app/frmEmpleado.js' %}"></script>
<script>
var cboPaisW = $('select[name="wpais"]');
var cboEstadoW = $('select[name="wdept"]');
var cboPaisH = $('select[name="hpais"]');
var cboEstadoH = $('select[name="hdept"]');
$('#aPersonal').parents('li').addClass('active');
cboPaisH.on('change', function() {
    var pais_id = cboPaisH.val();
    $.ajax({
            type: "GET",
            url: '/obtener/estados/',
            data: {
                'idPais':pais_id
            }, // serializes the form's elements.
            success: function(data)
            {
                cboEstadoH.html(data);
            },
            error: function(data) {
                
            },
            typeData:'html'
    });
});

cboPaisW.on('change', function() {
    var pais_id = cboPaisW.val();
    $.ajax({
            type: "GET",
            url: '/obtener/estados/',
            data: {
                'idPais':pais_id
            }, // serializes the form's elements.
            success: function(data)
            {
                cboEstadoW.html(data);
            },
            error: function(data) {
                
            },
            typeData:'html'
    });
});
</script>
{% endblock scripts %}
