{% extends "base.html" %}
{% block titulo %}
Registro de Empresa
{% endblock titulo %}
{% block estilo %}
<style>
    .checkbox{
        font-weight: 500;
    }
    .checkbox label{
        font-weight: 500;
    }
</style>
{% endblock estilo %}
{% load static %}
{% block contenido %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="text-bold"><i class="ti-user"></i>
                    Registro de Empresa</h2>
            </div>
            <div class="panel-wrapper">
                <div class="panel-body">
                    {% csrf_token %}
                    {% if editar %}
                    <input type="hidden" name="id" value="{{dato.pk}}">
                    {% endif %}
                    <div class="col-md-6">
                        <div class="col-md-12 margin-bottom-5px">
                            <div class="form-group">
                                <div class="col-md-5 text-right">
                                    <label for="txtRazonSocial" class="control-label">Razón social :</label>
                                </div>
                                <div class="col-md-7">
                                    <input type="text" {% if editar %}disabled{% endif %} name="razonSocial" id="txtRazonSocial" value="{{dato.razonSocial}}" class="form-control input-md">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 margin-bottom-5px">
                            <div class="form-group">
                                <div class="col-md-5 text-right">
                                    <label for="txtNombreComercial" class="control-label">Nombre comercial :</label>
                                </div>
                                <div class="col-md-7">
                                    <input type="text" name="nombreComercial" id="txtNombreComercial" value="{{dato.nombreComercial}}" class="form-control input-md">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-5"></div>
                                <div class="col-md-7">
                                    <div class="checkbox checkbox-success">
                                        {% if editar %}
                                            {% if dato.active %}
                                                <input id="chkActivo" name="activo" type="checkbox" checked /> 
                                            {% else %}
                                                <input id="chkActivo" name="activo" type="checkbox"/>
                                            {% endif %}
                                        {% else %}
                                        <input id="chkActivo" name="activo" type="checkbox" checked />
                                        {% endif %}
                                        <label for="chkActivo" class="control-label"> Activo </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-action col-md-12 text-right">
                            {% if editar %}
                                <button id="btnActualizar" class="btn btn-success">Actualizar</button>
                            {% else %}
                                <button id="btnGuardar" class="btn btn-success">Guardar</button>
                            {% endif %}
                            <button id="btnCancelar" class="btn btn-default">Cancelar</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
{% block scripts %}
<script src="{% static 'js/app/empresa.js' %}"></script>
<script>
    $('#aCorporativo').parents('li').addClass('active');
    $('#aUsuarioEmpresa').parents('li').addClass('active');
</script>
{% endblock scripts %}