{% extends "base.html" %}
{% block titulo %}
Equipos de Trabajo
{% endblock titulo %}
{% block estilo %}
<style>
    .checkbox{
        font-weight: 500;
    }
    .checkbox label{
        font-weight: 500;
    }
</style>
{% endblock estilo %}
{% load static %}
{% block contenido %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="text-bold"><i class="ti-pencil-alt"></i>
                    Equipos de Trabajo</h2>
            </div>
            <div class="panel-wrapper">
                <div class="panel-body">
                    {% csrf_token %}
                    {% if editar %}
                    <input type="hidden" value="{{dato.pk}}" name="id">
                    {% endif %}
                    <div class="col-md-6">
                        <div class="col-md-12 margin-bottom-5px">    
                            <div class="form-group">
                                <div class="col-md-5 text-right">
                                    <label for="txtCodigo" class="control-label">Código :</label>
                                </div>
                                <div class="col-md-7">
                                    <input type="text" {% if editar %}disabled{% endif %} name="eqT_codigo" value="{{dato.code}}" id="txtCodigo" maxlength="5" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 margin-bottom-5px">    
                            <div class="form-group">
                                <div class="col-md-5 text-right">
                                    <label for="txtNombre" class="control-label">Descripción :</label>
                                </div>
                                <div class="col-md-7">
                                    <input type="text" name="eqT_desc" value="{{dato.descripcion}}" id="txtDescripcion" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-5"></div>
                                <div class="col-md-7">
                                    <div class="checkbox checkbox-success">
                                        <input id="chkActivo" name="eqT_activo" type="checkbox" class="input-sm" {% if editar %}{% if dato.active %}checked{% endif %}{% else %}checked{% endif %} >
                                        <label for="chkActivo" class="control-label"> Activo </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-action col-md-12 text-right">
                            {% if editar %}
                            <button id="btneqTActualizar" class="btn btn-success">Actualizar</button>
                            {% else %}
                            <button id="btneqTGuardar" class="btn btn-success">Guardar</button>
                            {% endif %}
                            <button id="btneqTCancelar" class="btn btn-default">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
{% block scripts %}
<script>
    $('#side-menu a').removeClass('active');
    $('#aPersonal').addClass('active');
    $('#aGenerales').addClass('active');
    $('#aEqTrab').addClass('active');
    $('#aPersonal').parents('li').addClass('active');
    $('#aGenerales').parents('li').addClass('active');
</script>
{% endblock scripts %}