{% extends "base.html" %}
{% block titulo %}
Grupos de comisiones
{% endblock titulo %}
{% load static %}
{% block estilo %}
<style>
    .checkbox{
        font-weight: 500;
    }
    .checkbox label{
        font-weight: 500;
    }
</style>
{% endblock estilo %}
{% block contenido %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="text-bold"><i class="ti-user"></i>
                    Grupos de comisiones</h2>
            </div>
            <div class="panel-wrapper">
                <div class="panel-body">
                    {% csrf_token %}
                    <input type="hidden" name="grpCom_id" value="{{dato.pk}}">
                    <div class="col-md-6">
                        <div class="col-md-12 margin-bottom-5px">
                            <div class="form-group">
                                <div class="col-md-5 col-sm-5 text-right">
                                    <label for="txtGrpComDesc" class="control-label">Código :</label>
                                </div>
                                <div class="col-md-7 col-sm-7">
                                    <input type="text" name="grpCom_code" class="form-control" maxlength="5" value="{{dato.code}}" >
                                    {% comment %} <textarea name="grpCom_desc" id="txtGrpComDesc" rows="7" class="form-control" maxlength="150">{{dato.descripcion}}</textarea> {% endcomment %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 margin-bottom-5px">
                            <div class="form-group">
                                <div class="col-md-5 col-sm-5 text-right">
                                    <label for="txtGrpComDesc" class="control-label">Descripción :</label>
                                </div>
                                <div class="col-md-7 col-sm-7">
                                    <textarea name="grpCom_desc" id="txtGrpComDesc" rows="7" class="form-control" maxlength="150">{{dato.descripcion}}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-5 col-sm-5"></div>
                                <div class="col-md-7 col-sm-7">
                                    <div class="checkbox checkbox-success">
                                        <input id="chkActivo" name="grpCom_activo" type="checkbox" class="input-sm" {% if editar %}{% if dato.active %}checked{% endif %}{% else %}checked{% endif %}>
                                        <label for="chkActivo" class="control-label"> Activo </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-action col-md-12 text-right">
                            {% if editar %}
                            <button id="btngrpcomActualizar" class="btn btn-success">Actualizar</button>
                            {% else %}
                            <button id="btngrpcomGuardar" class="btn btn-success">Guardar</button>
                            {% endif %}
                            <button id="btngrpcomCancelar" class="btn btn-default">Cancelar</button>
                        </div>
                    </div>
                    <div class="col-md-6"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
{% block scripts %}
<script>
    $('#side-menu a').removeClass('active');
    $('#aPersonal').addClass('active');
    $('#aGenerales').addClass('active');
    $('#grpCom').addClass('active');
    $('#aPersonal').parents('li').addClass('active');
    $('#aGenerales').parents('li').addClass('active');
</script>
{% endblock scripts %}