{% extends "base.html" %}
{% block titulo %}
Ingreso General - Detalle
{% endblock titulo %}
{% load static %}
{% block estilo %}
<style>
    .checkbox{
        font-weight: 500;
    }
    .checkbox label{
        font-weight: 500;
    }
</style>
{% endblock estilo %}
{% block contenido %}
<div id="ingreso_general_detalle" class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="text-bold"><i class="ti-pencil-alt"></i>
                    Ingreso General - Detalle</h2>
            </div>
            <div class="panel-wrapper">
                <div class="panel-body">
                    {% csrf_token %}
                    {% if editar %}
                    <input type="hidden" value="{{dato.pk}}" name="id">
                    {% endif %}
                    <div class="col-md-12">
                        <div class="col-md-12 margin-bottom-5px">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5 text-right">
                                        <label class="control-label">Ingreso:</label>
                                    </div>
                                    <div class="col-md-7">
                                        <select class="form-control select2" name="ingreso">
                                            <option value="0">Seleccionar...</option>
                                            {% for item in ingresos_generales %}
                                                {% if editar %}
                                                    {% if item == dato.ingreso %}
                                                    <option value="{{item.pk}}" selected>{{item.ingreso_g}}</option>
                                                    {% else %}
                                                    <option value="{{item.pk}}">{{item.ingreso_g}}</option>
                                                    {% endif %}
                                                {% else %}
                                                <option value="{{item.pk}}">{{item.ingreso_g}}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5 text-right">
                                        <label class="control-label">Planilla:</label>
                                    </div>
                                    <div class="col-md-7">
                                        <select class="form-control select2" name="nomina">
                                            <option value="0">Seleccionar...</option>
                                            {% for item in planillas %}
                                                {% if editar %}
                                                    {% if item == dato.nomina %}
                                                    <option value="{{item.pk}}" selected>{{item.descripcion}}</option>
                                                    {% else %}
                                                    <option value="{{item.pk}}">{{item.descripcion}}</option>
                                                    {% endif %}
                                                {% else %}
                                                <option value="{{item.pk}}">{{item.descripcion}}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 margin-bottom-5px">    
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5 text-right">
                                        <label class="control-label">Tipo de Pago :</label>
                                    </div>
                                    <div class="col-md-7">
                                        <select class="form-control select2" name="tipo_pago">
                                            <option value="0">Seleccionar...</option>
                                            {% for item in tipos_pagos %}
                                                {% if editar %}
                                                    {% if item == dato.tipo_pago %}
                                                    <option value="{{item.pk}}" selected>{{item.description}}</option>
                                                    {% else %}
                                                    <option value="{{item.pk}}">{{item.description}}</option>
                                                    {% endif %}
                                                {% else %}
                                                <option value="{{item.pk}}">{{item.description}}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5 text-right">
                                        <label class="control-label">Tipo de Contrato:</label>
                                    </div>
                                    <div class="col-md-7">
                                        <select class="form-control select2" name="tipo_contrato">
                                            <option value="0">Seleccionar...</option>
                                            {% for item in tipos_contratos %}
                                                {% if editar %}
                                                    {% if item == dato.tipo_contrato %}
                                                    <option value="{{item.pk}}" selected>{{item.tipo_contrato}}</option>
                                                    {% else %}
                                                    <option value="{{item.pk}}">{{item.tipo_contrato}}</option>
                                                    {% endif %}
                                                {% else %}
                                                <option value="{{item.pk}}">{{item.tipo_contrato}}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 margin-bottom-5px">    
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5 text-right">
                                        <label class="control-label">Valor :</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input name="valor" value="{{dato.valor}}" type="text" class="form-control input" maxlength="18" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5 text-right">
                                        <label for="txtFechaVencPasaporte" class="control-label">Válido hasta :</label>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="input-group">
                                            <input id="txtFechaVencPasaporte" value='{{dato.fecha_valida|date:"d/m/Y"}}' name="fecha" type="text" class="form-control mydatepicker" placeholder="dd/mm/aaaa"> <span class="input-group-addon"><i class="icon-calender"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5"></div>
                                    <div class="col-md-7">
                                        <div class="checkbox checkbox-success">
                                            <input id="chkActivo" name="activo" type="checkbox" {% if editar %}{% if dato.active %}checked{% endif %}{% else %}checked{% endif %} class="input">
                                            <label for="chkActivo" class="control-label"> Activo </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-action text-right">
                                <button {% if editar %}id="btnActualizar"{% else %}id="btnGuardar"{% endif %} class="btn btn-success">{% if editar %}Actualizar{% else %}Guardar{% endif %} </button>
                                <button id="btnCancelar" class="btn btn-default">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
{% block scripts %}
<script src="{% static 'js/lib/jquery.mask.js' %}"></script>
<script>
    $('#side-menu a').removeClass('active');
    $('#aAcciones').addClass('active');
    $('#accionesNomina').addClass('active');
    $('#aIGD').addClass('active');
    //$('input[name="valor"]').mask('0,000,000,000,000.00', {reverse:true});

    $('.mydatepicker, #datepicker').datepicker({
        format: 'dd/mm/yyyy',
        autoclose:true,
        todayHighlight: true,
    });
</script>
{% endblock scripts %}