{% extends "base.html" %}
{% block titulo %}
Ingreso Individual en Planilla
{% endblock titulo %}
{% load static %}
{% load humanize %}
{% block estilo %}

<style>
    .checkbox{
        font-weight: 500;
    }
    .checkbox label{
        font-weight: 500;
    }
</style>
{% endblock estilo %}
{% block contenido %}
<div id="ingreso_individual_planilla" class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="text-bold"><i class="ti-pencil-alt"></i>
                    Ingreso Individual en Planilla</h2>
            </div>
            <div class="panel-wrapper">
                <div class="panel-body">
                    {% csrf_token %}
                    {% if editar %}
                    <input type="hidden" value="{{dato.pk}}" name="id">
                    {% endif %}
                    <div class="col-md-12">
                        <div class="col-md-12 margin-bottom-5px">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5 text-right">
                                        <label class="control-label">Ingreso:</label>
                                    </div>
                                    <div class="col-md-7">
                                        <select class="form-control select2" name="ingreso">
                                            <option value="0">Seleccionar...</option>
                                            {% for item in ingresos %}
                                                {% if editar %}
                                                    {% if item == dato.ingreso %}
                                                    <option value="{{item.pk}}" selected>{{item.ingreso_i}}</option>
                                                    {% else %}
                                                    <option value="{{item.pk}}">{{item.ingreso_i}}</option>
                                                    {% endif %}
                                                {% else %}
                                                <option value="{{item.pk}}">{{item.ingreso_i}}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5 text-right">
                                        <label class="control-label">Empleado:</label>
                                    </div>
                                    <div class="col-md-7">
                                        <select class="form-control select2" name="empleado">
                                            <option value="0">Seleccionar...</option>
                                            {% for item in empleados %}
                                                {% if editar %}
                                                    {% if item == dato.empleado %}
                                                    <option value="{{item.pk}}" selected>{{item.firstName}} {% if item.middleName %}{{item.middleName}}{% endif %} {{item.lastName}}</option>
                                                    {% else %}
                                                    <option value="{{item.pk}}">{{item.firstName}} {% if item.middleName %}{{item.middleName}}{% endif %} {{item.lastName}}</option>
                                                    {% endif %}
                                                {% else %}
                                                <option value="{{item.pk}}">{{item.firstName}} {% if item.middleName %}{{item.middleName}}{% endif %} {{item.lastName}}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 margin-bottom-5px">    
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5 text-right">
                                        <label class="control-label">Valor :</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input name="valor" value="{{dato.valor|intcomma}}" type="text" class="form-control input" maxlength="18" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5 text-right">
                                        <label class="control-label">Planilla:</label>
                                    </div>
                                    <div class="col-md-7">
                                        <select class="form-control select2" name="planilla">
                                            <option value="0">Seleccionar...</option>
                                            {% for item in planillas %}
                                                {% if editar %}
                                                    {% if item == dato.planilla %}
                                                    <option value="{{item.pk}}" selected>{{item.descripcion}}</option>
                                                    {% else %}
                                                    <option value="{{item.pk}}">{{item.descripcion}}</option>
                                                    {% endif %}
                                                {% else %}
                                                <option value="{{item.pk}}">{{item.descripcion}}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5"></div>
                                    <div class="col-md-7">
                                        <div class="checkbox checkbox-success">
                                            <input id="chkActivo" name="activo" type="checkbox" {% if editar %}{% if dato.active %}checked{% endif %}{% else %}checked{% endif %} class="input">
                                            <label for="chkActivo" class="control-label"> Activo </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-action text-right">
                                {% if editar %}
                                <button id="btnActualizar" class="btn btn-success">Actualizar</button>
                                {% else %}
                                <button id="btnGuardar" class="btn btn-success">Guardar</button>
                                {% endif %}
                                <button id="btnCancelar" class="btn btn-default">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
{% block scripts %}
<script src="{% static 'js/lib/jquery.mask.js' %}"></script>
<script>
    $('#side-menu a').removeClass('active');
    $('#aAcciones').addClass('active');
    $('#accionesNomina').addClass('active');
    $('#aIIP').addClass('active');
    //$('input[name="valor"]').mask('0,000,000,000,000.00', {reverse:true});
    $(".select2").select2();
</script>
{% endblock scripts %}