{% extends "base.html" %}
{% block titulo %}
Impuesto sobre la Renta
{% endblock titulo %}
{% load static %}
{% block estilo %}
<style>
    .checkbox{
        font-weight: 500;
    }
    .checkbox label{
        font-weight: 500;
    }
</style>
{% endblock estilo %}
{% block contenido %}
<div id="isr" class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="text-bold"><i class="ti-pencil-alt"></i>
                    Impuesto sobre la Renta</h2>
            </div>
            <div class="panel-wrapper">
                <div class="panel-body">
                    {% csrf_token %}
                    {% if editar %}
                    <input type="hidden" value="{{dato.pk}}" name="id">
                    {% endif %}
                    <div class="col-md-12">
                        <div class="col-md-12 margin-bottom-5px">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5 text-right">
                                        <label class="control-label">Desde :</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input name="txtdesde" value="{{dato.desde}}" type="text" class="form-control input" maxlength="50" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5 text-right">
                                        <label class="control-label">Hasta :</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input name="txthasta" value="{{dato.hasta}}" type="text" class="form-control input" maxlength="50" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 margin-bottom-5px">    
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5 text-right">
                                        <label class="control-label">Porcentaje :</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input name="txtporcentaje" value="{{dato.porcentaje}}" type="text" class="form-control input" maxlength="50" />
                                    </div>
                                </div>
                            </div>
                        <div class="col-md-6"></div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5"></div>
                                    <div class="col-md-7">
                                        <div class="checkbox checkbox-success">
                                            <input id="chkactivo" name="chkactivo" type="checkbox" {% if editar %}{% if dato.active %}checked{% endif %}{% else %}checked{% endif %} class="input">
                                            <label for="chkactivo" class="control-label"> Activo </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-action text-right">
                                    {% if editar %}
                                    <button id="btnActualizar" class="btn btn-success">Actualizar</button>
                                    {% else %}
                                    <button id="btnGuardar" class="btn btn-success">Guardar</button>
                                    {% endif %}
                                    <button id="btnCancelar" class="btn btn-default">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
{% block scripts %}
<script>
    $('#side-menu a').removeClass('active');
    $('#aPersonal').addClass('active');
    $('#aLegales').addClass('active');
    $('#aISR').addClass('active');
    $('#aPersonal').parents('li').addClass('active');
    $('#aLegales').parents('li').addClass('active');
</script>
{% endblock scripts %}