{% extends "base.html" %}
{% block titulo %}
Motivos de Despido
{% endblock titulo %}
{% load static %}
{% block estilo %}
<style>
    .checkbox{
        font-weight: 500;
    }
    .checkbox label{
        font-weight: 500;
    }
</style>
{% endblock estilo %}
{% block contenido %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="text-bold"><i class="ti-pencil-alt"></i>
                    Motivos de Despido</h2>
            </div>
            <div class="panel-wrapper">
                <div class="panel-body">
                    {% csrf_token %}
                    {% if editar %}
                    <input type="hidden" value="{{dato.pk}}" name="id">
                    {% endif %}
                    <div class="col-md-12">
                        <div class="col-md-12 margin-bottom-5px">    
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5 text-right">
                                        <label for="txtCodigoMDes" class="control-label">Código :</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input id="txtNombreMDes" {% if editar %}disabled{% endif %} value='{{dato.code}}' name="mdes_code" maxlength="5" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6"></div>
                        </div>
                        <div class="col-md-12 margin-bottom-5px">    
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5 text-right">
                                        <label for="txtDescMAu" class="control-label">Descripción :</label>
                                    </div>
                                    <div class="col-md-7">
                                        <textarea name="mdes_desc" id="txtDescMDes" rows="7" class="form-control">{{dato.descripcion}}</textarea>
                                        <!--input id="txtDescMDes" value='{{dato.descripcion}}' name="mdes_desc" type="text" class="form-control input-sm-1"-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6"></div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5"></div>
                                    <div class="col-md-7">
                                        <div class="checkbox checkbox-success">
                                            <input id="chkActivo" name="mdes_activo" type="checkbox" class="input-sm" {% if editar %}{% if dato.active %}checked{% endif %}{% else %}checked{% endif %} />
                                            <label for="chkActivo" class="control-label"> Activo </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-action col-md-12 text-right">
                            {% if editar %}
                            <button id="btnmDesActualizar" class="btn btn-success">Actualizar</button>
                            {% else %}
                            <button id="btnmDesGuardar" class="btn btn-success">Guardar</button>
                            {% endif %}
                            <button id="btnmDesCancelar" class="btn btn-default">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
{% block scripts %}
<script>
    $(".select2").select2();
    $('#side-menu a').removeClass('active');
    $('#aPersonal').addClass('active');
    $('#Motivos').addClass('active');
    $('#aMDes').addClass('active');
    $('#aPersonal').parents('li').addClass('active');
    $('#Motivos').parents('li').addClass('active');
</script>
{% endblock scripts %}