{% extends "base.html" %}
{% block titulo %}
Motivos de Aumento de Sueldo
{% endblock titulo %}
{% load static %}
{% block estilo %}
<style>
    .checkbox{
        font-weight: 500;
    }
    .checkbox label{
        font-weight: 500;
    }
</style>
{% endblock estilo %}
{% block contenido %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="text-bold"><i class="ti-pencil-alt"></i>
                    Motivos de Aumento de Sueldo</h2>
            </div>
            <div class="panel-wrapper">
                <div class="panel-body">
                    {% csrf_token %}
                    {% if editar %}
                    <input type="hidden" value="{{dato.pk}}" name="id">
                    {% endif %}
                    <div class="col-md-12">
                        <div class="col-md-12 margin-bottom-5px">    
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5 text-right">
                                        <label for="txtDescMAS" class="control-label">Código :</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="text" {% if editar %}disabled{% endif %} name="mAuSal_code" maxlength="5" class="form-control" value="{{dato.code}}">
                                        {% comment %} <textarea name="mAuSal_code" id="txtCodeMAS" rows="7" class="form-control" maxlength="150">{{dato.descripcion}}</textarea> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6"></div>
                        </div>
                        <div class="col-md-12 margin-bottom-5px">    
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5 text-right">
                                        <label for="txtDescMAS" class="control-label">Descripción :</label>
                                    </div>
                                    <div class="col-md-7">
                                        <textarea name="mAuSal_desc" id="txtDescMAS" rows="7" class="form-control" maxlength="150">{{dato.descripcion}}</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6"></div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5"></div>
                                    <div class="col-md-7">
                                        <div class="checkbox checkbox-success">
                                            <input id="chkActivo" name="mas_activo" type="checkbox" {% if editar %}{% if dato.active %}checked{% endif %}{% else %}checked{% endif %} class="input-sm">
                                            <label for="chkActivo" class="control-label"> Activo </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-action col-md-12 text-right">
                            {% if editar %}
                            <button id="btnmasActualizar" class="btn btn-success">Actualizar</button>
                            {% else %}
                            <button id="btnmasGuardar" class="btn btn-success">Guardar</button>
                            {% endif %}
                            <button id="btnmasCancelar" class="btn btn-default">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
{% block scripts %}
<script>
    $('#side-menu a').removeClass('active');
    $('#aPersonal').addClass('active');
    $('#Motivos').addClass('active');
    $('#aMas').addClass('active');
    $('#aPersonal').parents('li').addClass('active');
    $('#Motivos').parents('li').addClass('active');
</script>
{% endblock scripts %}