{% extends "base.html" %}
{% block titulo %}
Registro de País
{% endblock titulo %}
{% load static %}
{% block estilo %}
<style>
    .checkbox {
        font-weight: 500;
    }

    .checkbox label {
        font-weight: 500;
    }
</style>
{% endblock estilo %}
{% block contenido %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="text-bold"><i class="ti-user"></i>
                    Registro de País</h2>
            </div>
            <div class="panel-wrapper">
                <div class="panel-body">
                    {% csrf_token %}
                    {% if editar %}
                    <input type="hidden" value="{{dato.pk}}" name="id">
                    {% endif %}
                    <div class="col-md-6">
                        <div class="col-md-12 margin-bottom-5px">
                            <div class="form-group">
                                <div class="col-md-5 text-right">
                                    <label for="txtpCodigo" class="control-label">Código :</label>
                                </div>
                                <div class="col-md-7">
                                    <input type="text" name="p_codigo" {% if editar %}disabled{% endif %} value="{{dato.code}}" id="txtpCodigo" maxlength="250" class="form-control input-md ">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 margin-bottom-5px">
                            <div class="form-group">
                                <div class="col-md-5 text-right">
                                <label for="txtpNombre" class="control-label">Descripción :</label>
                                </div>
                                <div class="col-md-7">
                                    <input type="text" name="p_nombre" value="{{dato.name}}" id="txtpNombre" maxlength="250" class="form-control input-md">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-5"></div>
                                <div class="col-md-7">
                                    <div class="checkbox checkbox-success">
                                        <input id="chkActivo" name="p_activo" type="checkbox" {% if editar %}{% if dato.active %}checked{% endif %}{% else %}checked{% endif %} class="input-sm">
                                        <label for="chkpActivo" class="control-label"> Activo </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-action col-md-12 text-right">
                            {% if editar %}
                            <button id="btnpActualizar" class="btn btn-success">Actualizar</button>
                            {% else %}
                            <button id="btnpGuardar" class="btn btn-success">Guardar</button>
                            {% endif %}
                            <button id="btnpCancelar" class="btn btn-default">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
{% block scripts %}
<script>
    //#region Efectos en SideBar
    $('#side-menu a').removeClass('active');
    $('#aPersonal').addClass('active');
    $('#aGenerales').addClass('active');
    $('#aPaises').addClass('active');
    $('#sPaises1').addClass('active');
    $('#aPersonal').parents('li').addClass('active');
    $('#aGenerales').parents('li').addClass('active');
    //#endregion
</script>
{% endblock scripts %}