{% extends "base.html" %}
{% block titulo %}Perfíl de empleado{% endblock titulo %}
{% block estilo %}
{% load l10n %}
<style>
    #btnCargarFoto{
        margin-top: 10px;
    }

    #input-file-now{
        margin-bottom:7px;
    }
    .user-bg>.overlay-box{
        background: #5493C8;
    }

    #grpImagenEmp{
        margin-bottom: 2px;
    }

    #grpImagenEmp .white-box{
        margin-bottom: 3px;
    }

    #ver-resumen-planilla-empleado .table tbody tr td{
        padding: 3px 8px;
    }
    #ver-resumen-planilla-empleado .table thead th{
        padding: 3px 8px;
    }
</style>
{% endblock estilo %}
{% block contenido %}
{% load static %}
<div class="row" id="frmPerfilEmpleado">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="{% url 'home' %}">Inicio</a></li>
                    <li><a href="{% url 'empleados-listado' %}">Listado de Empleados</a></li>
                    <li class="active">Empleado</li>
                </ol>
            </div>
            <div class="panel-heading">
                <h2 class="text-bold"><i class="ti-user"></i>
                    Perfil de empleado</h2>
            </div>
            <div class="panel-wrapper">
                <div class="panel-body">
                    <input type="hidden" name="empleado" value="{{dato.pk}}">
                    <hr>
                    <div class="col-md-4 col-xs-12">
                        <div class="user-bg"> <!--img width="100%" alt="user" src="{% static 'plugins/images/large/img1.jpg' %}"-->
                            <div class="overlay-box">
                                <div id="imgPerfilUsuario" class="user-content">
                                    {% if imagen.imagen %}
                                    <img src="{{ MEDIA_URL }}{{ imagen.imagen }}" alt="Foto de perfil" class="thumb-lg img-circle">
                                    {% else %}
                                    <img src="{% static 'images/usuarios.png' %}" alt="" class="thumb-lg img-circle">
                                    {% endif %}
                                    {% comment '' %}
                                    <a href="javascript:void(0)"><img src="{{ MEDIA_URL }}{{ imagen.imagen }}" class="thumb-lg img-circle" alt="img"></a>
                                    {% endcomment %}
                                    <h4 class="text-white">{{dato.firstName}} {{dato.lastName}}</h4>
                                    <h5 class="text-white">{% if dato.email %}{{dato.email}}{% endif %}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--ENCABEZADO DE -->
                    <div class="col-md-8 col-xs-12">
                            <div class="white-box">
                            {% csrf_token %}
                                <ul class="nav nav-tabs tabs customtab">
                                    <li class="active tab">
                                        <a href="#profile" data-toggle="tab"> <span class="visible-xs"><i class="fa fa-home"></i></span> <span class="hidden-xs">PERFÍL</span> </a>
                                    </li>
                                    {% comment '' %}
                                    <li class="tab">
                                        <a href="#deducciones" data-toggle="tab" aria-expanded="false"> <span class="visible-xs"><i class="fa fa-cog"></i></span> <span class="hidden-xs">Deducciones</span> </a>
                                    </li>
                                    {% endcomment %}
                                    <li class="tab">
                                        <a href="#aimpresion" data-toggle="tab" aria-expanded="false"> <span class="visible-xs"><i class="fa fa-cog"></i></span> <span class="hidden-xs">GESTIÓN</span></a>
                                    </li>
                                    <li class="tab">
                                        <a href="#settings" data-toggle="tab" aria-expanded="false"> <span class="visible-xs"><i class="fa fa-cog"></i></span> <span class="hidden-xs">EDITAR</span> </a>
                                    </li>
                                    {% comment '' %}
                                    <li class="tab">
                                        <a href="#graph" data-toggle="tab" aria-expanded="false"> <span class="visible-xs"><i class="icon-graph"></i></span> <span class="hidden-xs">Analisís de datos</span> </a>
                                    </li>
                                    {% endcomment %}
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="profile">
                                        <div class="row">
                                            <div class="col-md-4 col-xs-6 b-r"> <strong>Primer nombre</strong>
                                                <br>
                                                <p class="text-muted">{{dato.firstName}}</p>
                                            </div>
                                            <div class="col-md-4 col-xs-6 b-r"> <strong>Segundo nombre</strong>
                                                <br>
                                                <p class="text-muted">{% if dato.middleName %}{{dato.middleName}}{% endif %}</p>
                                            </div>
                                            <div class="col-md-4 col-xs-6 b-r"> <strong>Apellido</strong>
                                                <br>
                                                <p class="text-muted">{{dato.lastName}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 col-xs-6 b-r"> <strong>No de empleado ext.</strong>
                                                <br>
                                                <p class="text-muted">{% if dato.extEmpNo %}{{dato.extEmpNo}}{% endif %}</p>
                                            </div>
                                            <div class="col-md-4 col-xs-6 b-r"> <strong>Estado de empleado</strong>
                                                <br>
                                                <p class="text-muted">{% if dato.active %}Activo{% else %}Inactivo{% endif %}</p>
                                            </div>
                                            <div class="col-md-4 col-xs-6 b-r"> <strong>Denominación de función</strong>
                                                <br>
                                                <p class="text-muted">{% if dato.jobTitle %}{{dato.jobTitle}}{% else %}--{% endif %}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 col-xs-6 b-r"> <strong>Posición</strong>
                                                <br>
                                                <p class="text-muted">{% if dato.position %}{{dato.position.description}}{% else %}--{% endif %}</p>
                                            </div>
                                            <div class="col-md-4 col-xs-6 b-r"> <strong>Departamento</strong>
                                                <br>
                                                <p class="text-muted">{% if dato.dept %}{{dato.dept.description}}{% else %}--{% endif %}</p>
                                            </div>
                                            <div class="col-md-4 col-xs-6 b-r"> <strong>Sucursal</strong>
                                                <br>
                                                <p class="text-muted">{% if dato.branch %}{{dato.branch.description}}{% else %}--{% endif %}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 col-xs-6 b-r"> <strong>Gerente</strong>
                                                <br>
                                                <p class="text-muted">{{dato.jefe.firstName}} {% if dato.jefe.middleName %}{{dato.jefe.middleName}}{% endif %} {{dato.jefe.lastName}}</p>
                                            </div>
                                            <div class="col-md-4 col-xs-6 b-r"> <strong>E-mail</strong>
                                                <br>
                                                <p class="text-muted">{% if dato.email %}{{dato.email}}{% else %}--{% endif %}</p>
                                            </div>
                                            <div class="col-md-4 col-xs-6 b-r"> <strong>Extensión</strong>
                                                <br>
                                                <p class="text-muted">{% if dato.officeExt %}{{dato.officeExt}}{% else %}--{% endif %}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 col-xs-6 b-r"> <strong>Teléfono de oficina</strong>
                                                <br>
                                                <p class="text-muted">{% if dato.officeTel %}{{dato.officeTel}}{% else %}--{% endif %}</p>
                                            </div>
                                            <div class="col-md-4 col-xs-6 b-r"> <strong>Teléfono movil</strong>
                                                <br>
                                                <p class="text-muted">{% if dato.mobile %}{{dato.mobile}}{% else %}--{% endif %}</p>
                                            </div>
                                            <div class="col-md-4 col-xs-6 b-r"> <strong>Teléfono casa</strong>
                                                <br>
                                                <p class="text-muted">{% if dato.homeTel %}{{dato.homeTel}}{% else %}--{% endif %}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 col-xs-6 b-r"> <strong>Pager</strong>
                                                <br>
                                                <p class="text-muted">{% if dato.pager %}{{dato.pager}}{% else %}--{% endif %}</p>
                                            </div>
                                            <div class="col-md-4 col-xs-6 b-r"> <strong>Fax</strong>
                                                <br>
                                                <p class="text-muted">{% if dato.fax %}{{dato.fax}}{% else %}--{% endif %}</p>
                                            </div>
                                            <div class="col-md-4 col-xs-6 b-r"></div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <ul class="nav nav-tabs" role="tablist">
                                                    <li role="presentation" class="active">
                                                        <a href="#direccion" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">
                                                            <span class="visible-xs">
                                                                <i class="ti-home"></i>
                                                            </span>
                                                            <span class="hidden-xs">Dirección</span>
                                                        </a>
                                                    </li>
                                                    <li role="presentation">
                                                        <a href="#gestion" aria-controls="gestion" role="tab" data-toggle="tab" aria-expanded="true">
                                                            <span class="visible-xs">
                                                                <i class="ti-user"></i>
                                                            </span>
                                                            <span class="hidden-xs">Gestion</span>
                                                        </a>
                                                    </li>
                                                    <li role="presentation">
                                                        <a href="#personal" aria-controls="personal" role="tab" data-toggle="tab" aria-expanded="true">
                                                            <span class="visible-xs">
                                                                <i class="ti-user"></i>
                                                            </span>
                                                            <span class="hidden-xs">Personal</span>
                                                        </a>
                                                    </li>
                                                    <li role="presentation">
                                                        <a href="#financiera" aria-controls="financiera" role="tab" data-toggle="tab" aria-expanded="true">
                                                            <span class="visible-xs">
                                                                <i class="ti-user"></i>
                                                            </span>
                                                            <span class="hidden-xs">Financiera</span>
                                                        </a>
                                                    </li>
                                                    <li role="presentation">
                                                        <a href="#comentarios" aria-controls="comentarios" role="tab" data-toggle="tab" aria-expanded="true">
                                                            <span class="visible-xs">
                                                                <i class="ti-user"></i>
                                                            </span>
                                                            <span class="hidden-xs">Comentarios</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div role="tabpanel" class="tab-pane active" id="direccion">
                                                        <div class="col-md-12">
                                                            <div class="col-md-6 col-xs-6">
                                                                <h3>Dirección de Vivienda</h3> 
                                                            </div>
                                                            <div class="col-md-6 col-xs-6">
                                                                <h3>Dirección de Trabajo</h3>
                                                            </div>
                                                            <hr>
                                                            <div class="row">
                                                                <div class="col-md-6 col-xs-6 b-r"> <strong>Calle</strong>
                                                                    <br>
                                                                    <p class="text-muted">{% if dato.homeStreet %}{{dato.homeStreet}}{% else %}--{% endif %}</p>
                                                                </div>
                                                                <div class="col-md-6 col-xs-6 b-r"> <strong>Calle</strong>
                                                                    <br>
                                                                    <p class="text-muted">{% if dato.workStreet %}{{dato.workStreet}}{% else %}--{% endif %}</p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6 col-xs-6 b-r"> <strong>No. Calle</strong>
                                                                    <br>
                                                                    <p class="text-muted">{% if dato.streetNoH %}{{dato.streetNoH}}{% else %}--{% endif %}</p>
                                                                </div>
                                                                <div class="col-md-6 col-xs-6 b-r"> <strong>No. Calle</strong>
                                                                    <br>
                                                                    <p class="text-muted">{% if dato.streetNoW %}{{dato.streetNoW}}{% else %}--{% endif %}</p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6 col-xs-6 b-r"> <strong>Bloque</strong>
                                                                    <br>
                                                                    <p class="text-muted">{% if dato.homeBlock %}{{dato.homeBlock}}{% else %}--{% endif %}</p>
                                                                </div>
                                                                <div class="col-md-6 col-xs-6 b-r"> <strong>Bloque</strong>
                                                                    <br>
                                                                    <p class="text-muted">{% if dato.workBlock %}{{dato.workBlock}}{% else %}--{% endif %}</p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6 col-xs-6 b-r"> <strong>Edificio/Casa</strong>
                                                                    <br>
                                                                    <p class="text-muted">{% if dato.homeBuild %}{{dato.homeBuild}}{% else %}--{% endif %}</p>
                                                                </div>
                                                                <div class="col-md-6 col-xs-6 b-r"> <strong>Edificio/Casa</strong>
                                                                    <br>
                                                                    <p class="text-muted">{% if dato.workBuild %}{{dato.workBuild}}{% else %}--{% endif %}</p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6 col-xs-6 b-r"> <strong>Código postal</strong>
                                                                    <br>
                                                                    <p class="text-muted">{% if dato.homeZip %}{{dato.homeZip}}{% else %}--{% endif %}</p>
                                                                </div>
                                                                <div class="col-md-6 col-xs-6 b-r"> <strong>Código postal</strong>
                                                                    <br>
                                                                    <p class="text-muted">{% if dato.workZip %}{{dato.workZip}}{% else %}--{% endif %}</p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6 col-xs-6 b-r"> <strong>Ciudad</strong>
                                                                    <br>
                                                                    <p class="text-muted">{% if dato.homeCity %}{{dato.homeCity}}{% else %}--{% endif %}</p>
                                                                </div>
                                                                <div class="col-md-6 col-xs-6 b-r"> <strong>Ciudad</strong>
                                                                    <br>
                                                                    <p class="text-muted">{% if dato.workCity %}{{dato.workCity}}{% else %}--{% endif %}</p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6 col-xs-6 b-r"> <strong>Condado/Municipio</strong>
                                                                    <br>
                                                                    <p class="text-muted">{% if dato.homeCounty %}{{dato.homeCounty}}{% else %}--{% endif %}</p>
                                                                </div>
                                                                <div class="col-md-6 col-xs-6 b-r"> <strong>Condado/Municipio</strong>
                                                                    <br>
                                                                    <p class="text-muted">{% if dato.workCounty %}{{dato.workCounty}}{% else %}--{% endif %}</p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6 col-xs-6 b-r"> <strong>Estado/Departamento</strong>
                                                                    <br>
                                                                    <p class="text-muted">{% if dato.homeState %}{{dato.homeState.name}}{% else %}--{% endif %}</p>
                                                                </div>
                                                                <div class="col-md-6 col-xs-6 b-r"> <strong>Estado/Departamento</strong>
                                                                    <br>
                                                                    <p class="text-muted">{% if dato.homeState %}{{dato.homeState.name}}{% else %}--{% endif %}</p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6 col-xs-6 b-r"> <strong>País</strong>
                                                                    <br>
                                                                    <p class="text-muted">{% if dato.homeCountry %}{{dato.homeCountry.name}}{% else %}--{% endif %}</p>
                                                                </div>
                                                                <div class="col-md-6 col-xs-6 b-r"> <strong>País</strong>
                                                                    <br>
                                                                    <p class="text-muted">{% if dato.homeCountry %}{{dato.homeCountry.name}}{% else %}--{% endif %}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div role="tabpanel" class="tab-pane" id="gestion">
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-md-6 col-xs-6 b-r"> <strong>Fecha de Inicio</strong>
                                                                    <br>
                                                                    <p class="text-muted">{% if dato.startDate %}{{dato.startDate|date:"d/m/Y"}}{% else %}--{% endif %}</p>
                                                                </div>
                                                                <div class="col-md-6 col-xs-6 b-r"> <strong>Fecha rescisión de contrato</strong>
                                                                    <br>
                                                                    <p class="text-muted">{% if dato.termDate %}{{dato.termDate|date:"d/m/Y"}}{% else %}--{% endif %}</p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6 col-xs-6 b-r"> <strong>Estado</strong>
                                                                    <br>
                                                                    <p class="text-muted">{% if dato.status %}{{dato.status.name}}{% else %}--{% endif %}</p>
                                                                </div>
                                                                <div class="col-md-6 col-xs-6 b-r"> <strong>Motivo rescisión de contrato</strong>
                                                                    <br>
                                                                    <p class="text-muted">{% if dato.termReason %}{{dato.termReason.name}}{% else %}--{% endif %}</p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6 col-xs-6 b-r"><strong>Antigüedad</strong><br><p class="text-muted">{% if antiguedad %}{{antiguedad}}{% else %}--{% endif %}</p></div>
                                                                <div class="col-md-6 col-xs-6 b-r"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div role="tabpanel" class="tab-pane" id="personal">
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-md-4 col-xs-6 b-r"> <strong>Sexo</strong>
                                                                    <br>
                                                                    <p class="text-muted">{% if dato.sex %}{{dato.sex.description}}{% else %}--{% endif %}</p>
                                                                </div>
                                                                <div class="col-md-4 col-xs-6 b-r"> <strong>Fecha de nacimiento</strong>
                                                                    <br>
                                                                    <p class="text-muted">{% if dato.birthDate %}{{dato.birthDate|date:"d/m/Y"}}{% else %}--{% endif %}</p>
                                                                </div>
                                                                <div class="col-md-4 col-xs-6 b-r"> <strong>Lugar de nacimiento</strong>
                                                                    <br>
                                                                    <p class="text-muted">{% if dato.birthCountry %}{{dato.birthCountry.name}}{% else %}--{% endif %}</p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-4 col-xs-6 b-r"> <strong>Estado civil</strong>
                                                                    <br>
                                                                    <p class="text-muted">{% if dato.marrStatus %}{{dato.marrStatus.description}}{% else %}--{% endif %}</p>
                                                                </div>
                                                                <div class="col-md-4 col-xs-6 b-r"> <strong>Cantidad de hijos</strong>
                                                                    <br>
                                                                    <p class="text-muted">{% if dato.nChildren %}{{dato.nChildren}}{% else %}--{% endif %}</p>
                                                                </div>
                                                                <div class="col-md-4 col-xs-6 b-r"> <strong>No. de ID</strong>
                                                                    <br>
                                                                    <p class="text-muted">{% if dato.govID %}{{dato.govID}}{% else %}--{% endif %}</p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-4 col-xs-6 b-r"> <strong>Nacionalidad</strong>
                                                                    <br>
                                                                    <p class="text-muted">{% if dato.citizenship %}{{dato.citizenship.name}}{% else %}--{% endif %}</p>
                                                                </div>
                                                                <div class="col-md-4 col-xs-6 b-r"> <strong>No de Pasaporte</strong>
                                                                    <br>
                                                                    <p class="text-muted">{% if dato.passportNo %}{{dato.passportNo}}{% else %}--{% endif %}</p>
                                                                </div>
                                                                <div class="col-md-4 col-xs-6 b-r"> <strong>Fecha vencimiento</strong>
                                                                    <br>
                                                                    <p class="text-muted">{% if dato.passportExt %}{{dato.passportExt|date:"d/m/Y"}}{% else %}--{% endif %}</p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-4 col-xs-6 b-r"> <strong>Fecha de Emisión</strong>
                                                                    <br>
                                                                    <p class="text-muted">{% if dato.passIssue %}{{dato.passIssue}}{% else %}--{% endif %}</p>
                                                                </div>
                                                                <div class="col-md-4 col-xs-6 b-r"> <strong>Emisor de Pasaporte</strong>
                                                                    <br>
                                                                    <p class="text-muted">{% if dato.passIssuer %}{{dato.passIssuer}}{% else %}--{% endif %}</p>
                                                                </div>
                                                                <div class="col-md-4 col-xs-6 b-r">
                                                                    <br>
                                                                    <p class="text-muted">{% if dato.passportExt %}{% endif %}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div role="tabpanel" class="tab-pane" id="financiera">
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-md-6 col-xs-6">
                                                                    <br>
                                                                    <p class="text-muted">{% if dato.passIssue %}{% endif %}</p>
                                                                </div>
                                                                <div class="col-md-6 col-xs-6">
                                                                    <h3>INFORMACIÓN BANCARIA DETALLADA</h3>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6 col-xs-6 b-r"> <strong>Salario</strong>
                                                                    <br>
                                                                    <p class="text-muted">{% if dato.salary %}{{dato.salary|localize}}{% else %}--{% endif %}</p>
                                                                </div>
                                                                <div class="col-md-6 col-xs-6 b-r"> <strong>Banco</strong>
                                                                    <br>
                                                                    <p class="text-muted">{% if dato.bankCode %}{{dato.bankCode.description}}{% else %}--{% endif %}</p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6 col-xs-6 b-r"> <strong>Costos de empleado</strong>
                                                                    <br>
                                                                    <p class="text-muted">{% if dato.empCost %}{{dato.empCost}}{% else %}--{% endif %}</p>
                                                                </div>
                                                                <div class="col-md-6 col-xs-6 b-r"> <strong>No. de cuenta</strong>
                                                                    <br>
                                                                    <p class="text-muted">{% if dato.bankAccount %}{{dato.bankAccount}}{% endif %}</p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6 col-xs-6 b-r"></div>
                                                                <div class="col-md-6 col-xs-6 b-r"> <strong>Sucursal</strong>
                                                                    <br>
                                                                    <p class="text-muted">{% if dato.branchBank %}{{dato.branchBank}}{% else %}--{% endif %}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div role="tabpanel" class="tab-pane" id="comentarios">
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-md-12 col-xs-6 b-r"> <strong>Comentario</strong>
                                                                    <br>
                                                                    <p class="text-muted">{% if dato.remark %}{{dato.remark}}{% else %}--{% endif %}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% comment '' %}
                                    <div class="tab-pane" id="deducciones">
                                        <input type="hidden" name="empleado_id" text="{{dato.pk}}" />
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li role="presentation" class="active"><a href="#tbDedLegal" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true"><span class="visible-xs"><i class="ti-home"></i></span><span class="hidden-xs"> Asignar Deducciones Legales</span></a></li>
                                            <li role="presentation" class=""><a href="#tbControlSaldo" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false"><span class="visible-xs"><i class="ti-user"></i></span> <span class="hidden-xs">Control de Saldo</span></a></li>
                                            <!--li role="presentation" class=""><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab" aria-expanded="false"><span class="visible-xs"><i class="ti-email"></i></span> <span class="hidden-xs">Messages</span></a></li>
                                            <li role="presentation" class=""><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab" aria-expanded="false"><span class="visible-xs"><i class="ti-settings"></i></span> <span class="hidden-xs">Settings</span></a></li-->
                                        </ul>
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane active" id="tbDedLegal">
                                                <div id="detalle-deducciones"></div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="tbControlSaldo">
                                                <table class="table table-default">
                                                    <thead>
                                                        <th> Descripción</th>
                                                        <th class="text-center">Monto</th>
                                                        <th class="text-center">Pagado</th>
                                                    </thead>
                                                    <tbody>
                                                        {% for item in control_saldo %}
                                                            <tr>
                                                                <td><a href="#" data-toggle="modal" data-target="#frmVerDetallePago{{item.id}}" class="accordion-toggle">{{item.descripcion}}</a></td>
                                                                <td class="text-right">{{item.monto}}</td>
                                                                <td class="text-right">{{item.total_pagado}}</td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    {% endcomment %}
                                    <div class="tab-pane" id="aimpresion">
                                        <h3>Voucher de Pago | Impresión / Envío | Resumen</h3>
                                        <div class="white-box">
                                            <form action="{% url 'reporte-pdf' %}" method="GET" target="_blank">
                                                <input type="hidden" id="txtEmpleado_Id" name="empleado_id" value="{{dato.pk}}">
                                                <div class="form-group">
                                                    <label for="" class="label-control">Planilla:</label>
                                                    <select name="planilla_id" id="cboPlanillaBusqueda" class="form-control">
                                                    <option value="0">Seleccionar...</option>
                                                    {% for planilla in planillas %}
                                                        <option value="{{planilla.planilla__id}}">{{planilla.planilla__descripcion}}</option>
                                                    {% endfor %}
                                                    </select>
                                                </div>
                                                {% if dato.email %}
                                                <button id="btnEnviarBoletaEmail" class="btn btn-default">E-mail</button>
                                                {% endif %}
                                                <button type="submit" class="btn btn-primary">Reporte</button>
                                                <button id="btnVerResumenPlanillaEmpleado" class="btn btn-info">Ver</button>
                                            </form>
                                            <br>
                                            <div class="row">
                                                <div id="ver-resumen-planilla-empleado"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="settings">
                                        <form name="frmImagen" id="frmImagenEmp" class="form-horizontal form-material">
                                            {% csrf_token %}
                                            <input type="hidden" name="empleado" value="{{dato.pk}}" />
                                            <div id="grpImagenEmp" class="form-group">
                                                <div class="white-box">
                                                    <h3 class="box-title">Editar Imagen del Empleado</h3>
                                                    <label for="input-file-now">Cargar archivo de fotografía.</label>
                                                    <input type="file" name="imagen" id="input-file-now" class="dropify" />
                                                    <button id="btnCargarFoto">Cargar</button>
                                                </div>
                                            </div>
                                            <div class="form-group"></div>
                                        </form>
                                        {% comment %} <form class="form-horizontal form-material">
                                            <div class="form-group">
                                                <label class="col-md-12">Nombre</label>
                                                <div class="col-md-12">
                                                    <input type="text" placeholder="Johnathan Doe" class="form-control form-control-line"> </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="example-email" class="col-md-12">Email</label>
                                                <div class="col-md-12">
                                                    <input type="email" placeholder="johnathan@admin.com" class="form-control form-control-line" name="example-email" id="example-email"> </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-12">Teléfono Móvil</label>
                                                <div class="col-md-12">
                                                    <input type="text" placeholder="123 456 7890" class="form-control form-control-line"> </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-12">Seleccione el país</label>
                                                <div class="col-sm-12">
                                                    <select class="form-control form-control-line">
                                                        <option>London</option>
                                                        <option>India</option>
                                                        <option>Usa</option>
                                                        <option>Canada</option>
                                                        <option>Thailand</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <button class="btn btn-success">Actualizar</button>
                                                </div>
                                            </div>
                                        </form> {% endcomment %}
                                    </div>
                                    <div class="tab-pane" id="graph">
                                        <h3 class="box-title">Bar Chart</h3>
                                        <div>
                                            <canvas id="myChart" width="200" height="200"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <!-- sample modal content -->
                            <!-- /.modal -->
                            <div id="form-empleado-deduccion" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title">Deducción por Empleado</h4> </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="form-group">
                                                    <label class="control-label">Deducción:</label>
                                                    <select name="cbodeduccion" class="form-control">
                                                        <option value="0">Seleccione un periodo...</option>
                                                        {% for deduccion_legal in deducciones_legales %}
                                                        <option value="{{deduccion_legal.deduccion}}">{{deduccion_legal.descripcion}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">Tipos de Periodo:</label>
                                                    <div class="radio radio-success">
                                                        <input type="radio" name="radio" id="rcompleto" value="0">
                                                        <label for="rcompleto"> Completo </label>
                                                    </div>
                                                    <div class="radio radio-info">
                                                        <input type="radio" name="radio" id="rparcial" value="1">
                                                        <label for="rparcial"> Parcial </label>
                                                    </div>
                                                </div>
                                                <div class="form-group cbo-periodo">
                                                    <label class="control-label">Periodo de Pago:</label>
                                                    <select name="cboperiodopago" class="form-control">
                                                    <option value="0">Seleccione un periodo...</option>
                                                    {% for periodo in periodos %}
                                                    <option value="{{periodo}}">{{periodo}}</option>
                                                    {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <div id="ctrl-chkActivo" class="checkbox checkbox-success">
                                                        <input id="chkActivoDedEmp" type="checkbox" />
                                                        <label for="chkActivoDedEmp"> Activo </label>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-cerrar waves-effect" data-dismiss="modal">Cerrar</button>
                                            <button type="button" id="btnGuardarEmplDed" class="btn btn-guardar waves-effect waves-light">Guardar</button>
                                            <button type="button" id="btnActualizarEmplDed" class="btn btn-guardar waves-effect waves-light">Actualizar</button>
                                        </div>
                                    </div>
                                </div>
                            <!-- Button trigger modal -->
                        </div>
                        <div class="col-md-4">
                            <div id="frmVerSubDetalles" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title" id="myModalLabel">DETALLE DEDUCCIONES INDIVIDUALES</h4>
                                        </div>
                                        <div class="modal-body">
                                            <table class="table color-table info-table">
                                                <thead>
                                                    <tr>
                                                        <th>DESCRIPCIÓN</th>
                                                        <th class="text-right">MONTO TOTAL</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for item2 in control_saldo %}
                            <div class="col-md-4">
                                <div id="frmVerDetallePago{{item2.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                <h4 class="modal-title" id="myModalLabel">DETALLE DEDUCCIONES INDIVIDUALES</h4>
                                            </div>
                                            <div class="modal-body">
                                                <table class="table color-table info-table">
                                                    <thead>
                                                        <th>Detalle de pagos</th>
                                                        <th>Valor</th>
                                                    </thead>
                                                    <tbody>
                                                    {% for item3 in item2.detalle_pagos %}
                                                        <tr>
                                                            <td>{{item3.deduccion.deduccion.deduccion_i}}</td>
                                                            <td>{{item3.valor|localize}}</td>
                                                        </tr>
                                                    {% empty %}
                                                        <tr>
                                                            <td colspan="2">No hay datos de pago registrado</td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Cerrar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
{% block scripts %}
<script>
        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [],
                datasets: [{
                    label: '# of Votes',
                    data: [],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
        $(function() {
            $.ajax({
                type: "GET",
                url: "/obtener/deducciones-empleado/",
                data: {'empleado_id': {{dato.pk}}},
                success: function (data) {
                    $('#detalle-deducciones').html(data);
                },
                error: function (data) {
                    console.log("Error: " + data);
                },
                dataType: 'html'
            }).done(function () {
                
            });
        });

        $('#btnEnviarBoletaEmail').on('click', function(e) {
            e.preventDefault();
            $.ajax({
                type: "GET",
                url: "/email/boleta-pago/",
                data: {"empleado_id": $('#txtEmpleado_Id').val(), "planilla_id": $('#cboPlanillaBusqueda').val() },
                success: function (data) {
                    alert("Se envió el correo.");
                },
                error: function (err) {
                    alert(err);
                }
            });
        });
</script>
<script>
    $('#side-menu a').removeClass('active');
    $('#aPersonal').addClass('active');
    $('#Emp').addClass('active');
</script>
{% endblock scripts %}