{% extends "base.html" %}
{% block titulo %}
Listado de Planillas
{% endblock titulo %}
{% load static %}
{% block contenido %}
<div id="planilla-listado" class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="text-bold"><i class="fa fa-list"></i>
                    Listado de Planillas</h2>
            </div>
            <div class="panel-wrapper">
                <div class="panel-body">
                    <div class="row">
                        {% if perms.worksheet.add_planilla %}
                        <div class="col-md-12 text-right">
                            <a href="{% url 'planilla_generar' %}" class="btn btn-default">Generar</a>
                            <a href="{% url 'planilla_form' %}" class="btn btn-primary">Agregar</a>
                        </div>
                        {% endif %}
                    </div>
                    <br>
                    <div class="table-responsive">
                        <table id="myTable" class="table table-striped">
                            {% csrf_token %}
                            <thead>
                                <tr>
                                    <th>Descripción</th>
                                    <th >Fecha de Pago</th>
                                    <th class="text-center">Estado</th>
                                    <th class="text-center">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in datos %}
                                <tr>
                                    <td>{{item.descripcion}}</td>
                                    <td>
                                        {{item.fecha_pago|date:"d/m/Y"}}
                                    </td>
                                    <td  class="text-center">
                                        <span {% if item.cerrada %}class="label label-danger"{% else %}class="label label-success"{% endif %} >{% if item.cerrada %}CERRADA{% else %}ABIERTA{% endif %}</span>
                                    </td>
                                    <td class="text-nowrap acciones text-center">
                                        {% if perms.worksheet.change_planilla %}
                                            {% if not item.cerrada %}
                                            <a href="{% url 'planilla_editar' item.pk %}" data-toggle="tooltip" data-original-title="Editar">
                                                <i class="fa fa-pencil text-inverse m-r-10"></i>
                                            </a>
                                            {% endif %}
                                        {% endif %}
                                        {% if perms.worksheet.delete_planilla %}
                                            {% if not item.cerrada %}
                                            <a href="#" class="btnEliminar" data="{{item.pk}}" data-tooltip="Eliminar el registro" data-toggle="tooltip" data-original-title="Eliminar">
                                                <i class="fa fa-close text-danger m-r-10"></i>
                                            </a>
                                            {% endif %}
                                        {% endif %}
                                        {% if perms.worksheet.see_reg_planilla %}
                                        <a href="{% url 'planilla_registro_ver' item.pk %}" id="btnVerRegistro" data-tooltip="Ver registro" data-toggle="tooltip" data-original-title="Ver registro" class="btnVerRegistroPlanilla" data="{{item.pk}}">
                                            <i class="fa fa-search text-success m-r-10"></i>
                                        </a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div id="responsive-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div id="planilla-modal" class="modal-dialog"></div>
</div>
{% endblock contenido %}
{% block scripts %}
<script>
    $('.select2').select2();
    var token = $('input[name="csrfmiddlewaretoken"]');
    //#region Efectos en SideBar
    $('#side-menu a').removeClass('active');
    $('#aAcciones').addClass('active');
    $('#accionesNomina').addClass('active');
    $('#aPlanilla').addClass('active');
    $('#aAcciones').parents('li').addClass('active');
    $('#accionesNomina').parents('li').addClass('active');
    //#endregion

    //#region Eventos Controles
    $('.acciones .btnEliminar').on('click', function(e) {
        e.preventDefault();
        var id = $(this).attr('data');
        Eliminar(id);
    });
    //#endregion

    //#region Funciones
    function Eliminar(id) {
        var Encabezado = 'Planilla';
        var url = "/eliminar/planilla/"; // the script where you handle the form input.
        $.ajax({
            type: "POST",
            url: url,
            data: {
                'id': id,
                'csrfmiddlewaretoken': token.val(),
            }, // serializes the form's elements.
            success: function(data)
            {
                if(data.error == false){
                    $.toast({
                        heading: Encabezado,
                        text: data.mensaje,
                        position: 'top-right',
                        loaderBg: '#ff6849',
                        icon: 'success',
                        hideAfter: 2000,
                        stack: 6
                    });
                    setTimeout(function () {
                        location.reload();
                    }, 2000);
                }else{
                    $.toast({
                        heading: Encabezado,
                        text: data.mensaje,
                        position: 'top-right',
                        loaderBg: '#ff6849',
                        icon: 'error',
                        hideAfter: 5000,
                        stack: 6
                    });
                }
            },
            error: function(data) {
                console.log(data);
                $.toast({
                    heading: Encabezado,
                    text: data.status + ' - ' + data.statusText,
                    position: 'top-right',
                    loaderBg: '#ff6849',
                    icon: 'error',
                    hideAfter: 5000,
                    stack: 6
                });
            }
        });
    }
    //#endregion
</script>
{% endblock scripts %}