{% extends 'base.html' %}
{% block titulo %}
Ver registros de Planilla
{% endblock titulo %}
{% block contenido %}
{% csrf_token %}
<div id="frmVerPlanilla" class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2><i class="ti-pencil-alt"></i> REGISTROS DE PLANILLA </h2>
            </div>
            <div class="panel-wrapper">
                <div class="panel-body">
                    <div class="row">
                        <input type="hidden" name="reg_id" value="{{planilla.pk}}" />
                        <div class="col-md-12">
                            <div class="col-md-3 col-xs-6 b-r"> <strong>DESCRIPCIÓN</strong>
                                <br>
                                <p class="text-muted">{{planilla.descripcion|upper}}</p>
                            </div>
                            <div class="col-md-3 col-xs-6 b-r"> <strong>TIPO DE PLANILLA</strong>
                                <br>
                                <p class="text-muted">{{planilla.tipo_planilla.tipo_planilla|upper}}</p>
                            </div>
                            <div class="col-md-3 col-xs-6 b-r"> <strong>FRECUENCIA DE PAGO</strong>
                                <br>
                                <p class="text-muted">{{planilla.frecuencia_pago.description|upper}}</p>
                            </div>
                            <div class="col-md-3 col-xs-6"> <strong>TIPO DE CONTRATO</strong>
                                <br>
                                <p class="text-muted">{{planilla.tipo_contrato.tipo_contrato|upper}}</p>
                            </div>
                            <div class="col-md-3 col-xs-6"> <strong>FECHA DE PAGO</strong>
                                <br>
                                <p class="text-muted">{{planilla.fecha_pago|date:"d/m/Y"}}</p>
                            </div>
                            <div class="col-md-3 col-xs-6"> <strong>ESTADO</strong>
                                <br>
                                <p class="text-muted"><span {% if planilla.cerrada %}class="label label-danger estado-planilla"{% else %}class="label label-success estado-planilla"{% endif %} >{% if planilla.cerrada %}CERRADA{% else %}ABIERTA{% endif %}</span></p>
                            </div>
                            <div class="col-md-3 col-xs-6"> <strong>DESDE</strong>
                                <br>
                                <p class="text-muted">{{planilla.fecha_inicio|date:"d/m/Y"}}</p>
                            </div>
                            <div class="col-md-3 col-xs-6"> <strong>HASTA</strong>
                                <br>
                                <p class="text-muted">{{planilla.fecha_fin|date:"d/m/Y"}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <a href="#" id="btnVerIngresos" class="btn btn-info" data-toggle="modal" data-target="#frmVerIngresos">VER INGRESOS</a>
                            <a href="#" id="btnVerDeducciones" class="btn btn-info" data-toggle="modal" data-target="#frmVerDeducciones">VER DEDUCCIONES</a>
                            <!--button id="btnVerIngresos" class="btn btn-info">Ver Ingresos</button-->
                            <!--button id="btnVerDeducciones" class="btn btn-info">Ver Deducciones</button-->
                            {% if planilla.cerrada == False %}
                            <button id="btnCerrarPlanilla" class="btn btn-warning">CERRAR PLANILLA</button>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table id="detalle_planilla" class="table">
                                    <thead class="planilla-encabezado">
                                        <tr>
                                            <th>#</th>
                                            <th>CÓDIGO</th>
                                            <th>EMPLEADO</th>
                                            <th class="text-right">INGRESOS</th>
                                            <th class="text-right">DEDUCCIÓN</th>
                                            <th class="text-right">SALARIO NETO</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in detalle %}
                                        <tr data-toggle="collapse" data-target="#vdet{{item.id}}" class="planilla-fila detalle_item accordion-toggle">
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{item.empleado.extEmpNo}}</td>
                                            <td>{{item.empleado.firstName}} {% if item.empleado.middleName %}{{item.empleado.middleName}}{% endif %} {{item.empleado.lastName}}</td>
                                            <td class="text-right">{{item.total_ingresos}}</td>
                                            <td class="text-right">{{item.total_deducciones}}</td>
                                            <td class="text-right">{{item.salario_neto}}</td>
                                        </tr>
                                        <tr class="detalle_emp">    
                                            <td colspan="6" class="hiddenRow">
                                                <div class="accordian-body collapse" id="vdet{{item.id}}">
                                                    <div class="table-responsive col-md-6">
                                                        <table class="table">
                                                            <thead class="detalle-encabezado">
                                                                <th>DESCRIPCIÓN</th>
                                                                <th class="text-right"><span >INGRESO</span></th>
                                                                <th class="text-right"><span >DEDUCCIÓN</span></th>
                                                            </thead>
                                                            <tbody class="body-item-detalle">
                                                                {% for item1 in item.detalle_ingresos %}
                                                                    {% comment '' %}
                                                                    {% if item.empleado == item1.empleado %}
                                                                    {% endcomment %}
                                                                    <tr>
                                                                        <td>{{item1.ingreso|upper}}</td>
                                                                        <td class="text-right"><span class="text-success text-right"><strong>{{item1.valor}}</strong></span></td>
                                                                        <td></td>
                                                                    </tr>
                                                                    {% comment '' %}
                                                                    {% endif %}
                                                                    {% endcomment %}
                                                                {% endfor %}
                                                                {% for item2 in item.detalle_egresos %}
                                                                    <tr class="planilla-segundafila">
                                                                        <td>{{item2.deduccion|upper}}</td>
                                                                        <td></td>
                                                                        <td class="text-right"><span class="text-danger text-right"><strong>{{item2.valor}}</strong></span></td>
                                                                    </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    {% comment "" %}
                                                    <div class="table-responsive col-md-6">
                                                        <table class="table">
                                                            <thead class="detalle-encabezado">
                                                                <th><span>Datos Agrupados</span> </th>
                                                                <th class="text-right">Ingreso</th>
                                                                <th class="text-right">Deducción</th>
                                                            </thead>
                                                            <tbody class="body-item-detalle">
                                                                {% for item1 in item.ingresos_agrupa %}
                                                                    <tr>
                                                                        <td>{{item1.ingreso}}</td>
                                                                        <td class="text-right"><span class="text-success text-right"><strong>{{item1.valor}}</strong></span></td>
                                                                        <td></td>
                                                                    </tr>
                                                                {% endfor %}
                                                                {% for item1 in item.deducciones_agrupa %}
                                                                    <tr>
                                                                        <td>{{item1.deduccion}}</td>
                                                                        <td></td>
                                                                        <td class="text-right"><span class="text-danger text-right"><strong>{{item1.valor}}</strong></span></td>
                                                                    </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    {% endcomment %}
                                                </div>
                                            </td>
                                        {% endfor %}
                                        <tr>
                                            <td colspan="3"><strong>TOTAL NETO</strong></td>
                                            <td class="text-right"><strong>{{suma_total_ingresos}}</strong></td>
                                            <td class="text-right"><strong>{{suma_total_deducciones}}</strong></td>
                                            <td class="text-right"><strong>{{suma_total_neto}}</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div id="frmVerIngresos" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title" id="myModalLabel">Ingresos</h4>
                            </div>
                            <div class="modal-body">
                                <table class="table color-table info-table">
                                    <thead>
                                        <tr>
                                            <th>INGRESO</th>
                                            <th class="text-center">VALOR</th>
                                        </tr>
                                    </thead>
                                    {% for ingreso in gingresos %}
                                    <tr>
                                        <td>{{ingreso.ingreso}}</td>
                                        <td class="text-right">{{ingreso.valor}}</td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="2">No se encontraron datos</td>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <td><strong>TOTAL</strong></td>
                                        <td class="text-right"><strong>{{sum_gingresos}}</strong></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div id="frmVerDeducciones" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title" id="myModalLabel">Deducciones</h4>
                            </div>
                            <div class="modal-body">
                                <table class="table color-table info-table">
                                    <thead>
                                        <tr>
                                            <th>DEDUCCIÓN</th>
                                            <th class="text-center">VALOR</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for deduccion in gdeducciones_i %}
                                        <tr>
                                            <td>{{deduccion.deduccion}}</td>
                                            <td class="text-right">{{deduccion.valor}}</td>
                                        </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="2">No se encontraron datos</td>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <td><strong>SUBTOTAL DEDUCCIONES INTERNAS</strong></td>
                                        <td class="text-right"><strong>{{suma_ded_i}}</strong></td>
                                    </tr>
                                    {% for deduccion in gdeducciones_e %}
                                        <tr>
                                            <td>{{deduccion.deduccion}}</td>
                                            <td class="text-right">{{deduccion.valor}}</td>
                                        </tr>
                                    {% endfor %}
                                    <tr>
                                        <td><strong>SUBTOTAL DEDUCCIONES EXTERNAS</strong></td>
                                        <td class="text-right"><strong>{{suma_ded_e}}</strong></td>
                                    </tr>
                                    </tbody>
                                    <tfooter>
                                    <tr>
                                        <td><strong>TOTAL</strong></td>
                                        <td class="text-right"><strong>{{sum_gdeducciones}}</strong></td>
                                    </tr>
                                    </tfooter>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
{% block scripts %}
    <script>
        $('#side-menu a').removeClass('active');
        $('#aAcciones').addClass('active');
        $('#accionesNomina').addClass('active');
        $('#aPlanilla').addClass('active');
        $('#aAcciones').parents('li').addClass('active');
        $('#accionesNomina').parents('li').addClass('active');

        var token = $('input[name="csrfmiddlewaretoken"]');
        var btnCerrarPlanilla = $('#btnCerrarPlanilla');

        btnCerrarPlanilla.on('click', function(e) {
            $('body').block({
                message: '<h4><img src="/../../static/plugins/images/busy.gif" /> Espere un momento...</h4>',
                css: {
                    border: '1px solid #fff',
                }
            });
            url = '/cerrar/planilla/';
            metodo = 'POST';
            data = {'id':{{planilla.pk}}, 'csrfmiddlewaretoken': token.val()};

            $.ajax({
                type: metodo,
                url: url,
                data: data,
                success: function (data) {
                    
                },
                error: function (data) {
                    console.log(data);
                },
                dataType: 'json'
            }).done(function(data) {
                $('body').unblock();
                if (data.error != true) {
                    alert(data.mensaje);
                    btnCerrarPlanilla.addClass('hidden');
                    $('.estado-planilla').removeClass('label-success');
                    $('.estado-planilla').addClass('label-danger');
                    $('.estado-planilla').text('CERRADA');
                }else{
                    alert(data.mensaje);
                };
            });
        });
    </script>
{% endblock scripts %}