{% extends "base.html" %}
{% block titulo %}
Listado de Salarios Mínimos
{% endblock titulo %}
{% load static %}
{% block contenido %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="text-bold"><i class="fa fa-list"></i>
                    Listado de Salarios Mínimos</h2>
            </div>
            <div class="panel-wrapper">
                <div class="panel-body">
                    <div class="row text-right">
                        {% if perms.worksheet.add_salariominimo %}
                        <div class="col-md-12">
                            <a href="{% url 'salariominimo_form' %}" class="btn btn-primary">Agregar</a>
                        </div>
                        {% endif %}
                    </div>
                    <br>
                    <div class="table-responsive">
                        <table id="myTable" class="table table-striped">
                            {% csrf_token %}
                            <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Salario Mínimo</th>
                                    <th>Vigente</th>
                                    <th>Estado registro</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in lista %}
                                <tr>
                                    <td>{{item.fecha}}</td>
                                    <td>{{item.salario_minimo}}</td>
                                    <td>
                                        {% if item.vigente %}
                                        <span class="label label-success">Si</span>
                                        {% else %}
                                        <span class="label label-danger">No</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if item.active %}
                                        <span class="label label-success">Si</span>
                                        {% else %}
                                        <span class="label label-danger">No</span>
                                        {% endif %}
                                    </td>                         
                                    <td class="text-nowrap acciones">
                                        {% comment '' %}
                                        {% if perms.worksheet.change_salariominimo %}
                                        <a href="{% url 'horaextra_editar' item.pk %}" data-toggle="tooltip" data-original-title="Editar">
                                            <i class="fa fa-pencil text-inverse m-r-10"></i>
                                        </a>
                                        {% endif %}
                                        {% endcomment %}
                                        {% if perms.worksheet.delete_salariominimo %}
                                        <a href="#" class="btnEliminar" data="{{item.pk}}" data-toggle="tooltip" data-original-title="Eliminar">
                                            <i class="fa fa-close text-danger"></i>
                                        </a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
{% block scripts %}
<script>
    var token = $('input[name="csrfmiddlewaretoken"]');
    //#region Efectos en SideBar
    $('#side-menu a').removeClass('active');
    $('#aPersonal').addClass('active');
    $('#aLegales').addClass('active');
    $('#aSalarioMinimo').addClass('active');
    $('#aPersonal').parents('li').addClass('active');
    $('#aLegales').parents('li').addClass('active');
    //#endregion

    //#region Eventos Controles
    $('.acciones .btnEliminar').on('click', function(e) {
        e.preventDefault();
        var id = $(this).attr('data');
        Eliminar(id);
    });
    //#endregion

    //#region Funciones
    function Eliminar(id) {
        var Encabezado = 'Salario Mínimo';
        var url = "/eliminar/salario-minimo/"; // the script where you handle the form input.
        $.ajax({
            type: "POST",
            url: url,
            data: {
                'id': id,
                'csrfmiddlewaretoken': token.val(),
            }, // serializes the form's elements.
            success: function(data)
            {
                if(data.error == false){
                    $.toast({
                        heading: Encabezado,
                        text: data.mensaje,
                        position: 'top-right',
                        loaderBg: '#ff6849',
                        icon: 'success',
                        hideAfter: 2000,
                        stack: 6
                    });
                    setTimeout(function () {
                        location.reload();
                    }, 2000);
                }else{
                    $.toast({
                        heading: Encabezado,
                        text: data.mensaje,
                        position: 'top-right',
                        loaderBg: '#ff6849',
                        icon: 'error',
                        hideAfter: 5000,
                        stack: 6
                    });
                }
            },
            error: function(data) {
                console.log(data);
                $.toast({
                    heading: Encabezado,
                    text: data.status + ' - ' + data.statusText,
                    position: 'top-right',
                    loaderBg: '#ff6849',
                    icon: 'error',
                    hideAfter: 5000,
                    stack: 6
                });
            }
        });
    }
    //#endregion
</script>
{% endblock scripts %}