{% extends "base.html" %}
{% block titulo %}
Vendedor
{% endblock titulo %}
{% load static %}
{% block estilo %}
<style>
    .checkbox{
        font-weight: 500;
    }
    .checkbox label{
        font-weight: 500;
    }
</style>
{% endblock estilo %}
{% block contenido %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="text-bold"><i class="ti-pencil-alt"></i>Vendedor</h2>
            </div>
            <div class="panel-wrapper">
                <div class="panel-body">
                    {% csrf_token %}
                    {% if editar %}
                    <input type="hidden" value="{{dato.pk}}" name="vnd_id">
                    {% endif %}
                    <div class="col-md-12">
                        <div class="col-md-12 margin-bottom-5px">    
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5 text-right">
                                        <label for="txtVenNombre" class="control-label">Nombre :</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input id="txtVenNombre" value='{{dato.nombre}}' name="ven_nombre" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5 text-right">
                                        <label for="cboVendGrpCom" class="control-label">Grupo comisión :</label>
                                    </div>
                                    <div class="col-md-7">
                                        <select class="form-control select2" name="vend_grpcom" id="cboVendGrpCom">
                                            <option value="0">Seleccionar...</option>
                                            {% for item in grp_com %} 
                                                {% if editar %}
                                                    {% if item == dato.grupo_comisiones %}
                                                        <option value="{{item.pk}}" selected>{{item.descripcion}}</option>
                                                    {% else %}
                                                        <option value="{{item.pk}}">{{item.descripcion}}</option>
                                                    {% endif %} 
                                                {% else %}
                                                    <option value="{{item.pk}}">{{item.descripcion}}</option>
                                                {% endif %} 
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 margin-bottom-5px">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5 text-right">
                                        <label class="control-label">Porcentaje comisión :</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input value='{{dato.porcentaje_comision}}' name="ven_porc" maxlength="12" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                            </div>
                        </div>
                        <div class="col-md-12 margin-bottom-5px">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5 text-right">
                                        <label class="control-label">Teléfono :</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input value='{{dato.telefono}}' name="vend_tel" maxlength="25" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5 text-right">
                                        <label class="control-label">Teléfono Movil :</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input value='{{dato.tel_movil}}' name="vend_movil" maxlength="25" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 margin-bottom-5px">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5 text-right">
                                        <label class="control-label">Comentario :</label>
                                    </div>
                                    <div class="col-md-7">
                                        <textarea name="vend_com" rows="7" class="form-control">{{dato.descripcion}}</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5 text-right">
                                        <label class="control-label">E-mail :</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input value='{{dato.correo}}' name="vend_correo" maxlength="150" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5"></div>
                                    <div class="col-md-7">
                                        <div class="checkbox checkbox-success">
                                            <input id="chkActivo" name="vend_activo" type="checkbox" checked class="input-sm" {% if editar %}{% if dato.active %}checked{% endif %}{% else %}checked{% endif %}>
                                            <label for="chkActivo" class="control-label"> Activo </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-action col-md-12 text-right">
                            {% if editar %}
                            <button id="btnVendActualizar" class="btn btn-success">Actualizar</button>
                            {% else %}
                            <button id="btnVendGuardar" class="btn btn-success">Guardar</button>
                            {% endif %}
                            <button id="btnVendCancelar" class="btn btn-default">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
{% block scripts %}
<script>
    //$('.select2').select2();
    $('#side-menu a').removeClass('active');
    $('#aPersonal').addClass('active');
    $('#aGenerales').addClass('active');
    $('#Vend').addClass('active');
    $('#aPersonal').parents('li').addClass('active');
    $('#aGenerales').parents('li').addClass('active');
</script>
{% endblock scripts %}