<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table id="detalle_planilla" class="table">
                <htead>
                    <th>#</th>
                    <th>Código</th>
                    <th>Empleado</th>
                    <th><span class="pull-right">Ingresos</span></th>
                    <th><span class="pull-right">Deducciones</span></th>
                    <th><span class="pull-right">Salario Neto</span></th>
                </htead>
                <tbody>
                    {% for detalle in detalle_planilla %}
                    <tr data-toggle="collapse" data-target="#vdet{{detalle.id}}" class="detalle_item accordion-toggle">
                        <td>{{forloop.counter}}</td>
                        <td>{{detalle.empleado.extEmpNo}}</td>
                        <td>{{detalle.empleado.firstName}} {% if detalle.empleado.middleName %}{{detalle.empleado.middleName}}{% endif %} {{detalle.empleado.lastName}}</td>
                        <td><span class="pull-right"><strong>{{detalle.total_ingresos}}</strong></span></td>
                        <td><span class="pull-right"><strong>{{detalle.total_deducciones}}</strong></span></td>
                        <td><span class="pull-right"><strong>{{detalle.total_salario}}</strong></span></td>
                    </tr>
                    <tr class="detalle_emp">    
                        <td colspan="6" class="hiddenRow">
                            <div class="accordian-body collapse" id="vdet{{detalle.id}}">
                                <div class="table-responsive col-md-6">
                                    <table class="table">
                                        <thead>
                                            <th>Descripción</th>
                                            <th><span class="pull-right">Ingreso</span></th>
                                            <th><span class="pull-right">Deducción</span></th>
                                        </thead>
                                        <tbody class="body-item-detalle">
                                            {% for item1 in detalle.ingreso_detalle %}
                                                {% comment '' %}
                                                {% if detalle.empleado == item1.empleado %}
                                                {% endcomment %}
                                                <tr>
                                                    <td>{{item1.ingreso}}</td>
                                                    <td><span class="text-success pull-right"><strong>{{item1.valor}}</strong></span></td>
                                                    <td></td>
                                                </tr>
                                                {% comment '' %}
                                                {% endif %}
                                                {% endcomment %}
                                            {% endfor %}
                                            {% for item2 in detalle.deduccion_detalle %}
                                                {% comment '' %}
                                                {% if detalle.empleado == item2.empleado %}
                                                {% endcomment %}
                                                <tr>
                                                    <td>{{item2.deduccion}}</td>
                                                    <td></td>
                                                    <td><span class="text-danger pull-right"><strong>{{item2.valor}}</strong></span></td>
                                                </tr>
                                                {% comment '' %}
                                                {% endif %}
                                                {% endcomment %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                    <td colspan="3">TOTAL PLANILLA</td>
                    <td><span class="pull-right"><strong>{{total_ingresos}}</strong></span></td>
                    <td><span class="pull-right"><strong>{{total_deducciones}}</strong></span></td>
                    <td><span class="pull-right"><strong>{{total_neto}}</strong></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>