.margin-bottom-5px{
    margin-bottom: 5px;
}

.input-sm-1{
    height: 24px;
    padding: 2px 5px;
    font-size: 16px;
    font-weight: bolder;
}

.lista-empleados{
    margin-top: 15px;
}

select.input-sm-1{
    height: 24px;
}

.progreso-ejecucion{
    margin-top: 5%
}

table>tbody>.detalle_emp>td{
    border-top:none;
}

#detalle_planilla {
    margin-top: 10px;
}

#detalle_planilla .body-item-detalle>tr>td{
    padding: 3px 8px;
}

.toolTip{
    background: rgba(20,20,20,0.9) url('img/info.gif') center left 5px no-repeat;
    border: 2px solid #87cefa;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #333;
    color: #87cefa;
    font-size: 0.8em;
    padding: 10px 10px 10px 35px;
    max-width: 600px;
    position: absolute;
    z-index: 100;   
}

/*BOTONES*/
.btn-guardar{
    background: #046D8B;
    border: 1px solid #046D8B;
    color: #FBF8F5;
}

.btn-guardar:hover{
    background: #025b74;
    border: 1px solid #025b74;
    color: #FBF8F5;
}

.btn-guardar:focus{
    color: #FBF8F5;
}

.btn-eliminar{
    background: #C04848;
    border: 1px solid #C04848;
    color: #FBF8F5;
}
.btn-eliminar:hover{
    background: #C03030;
    color: #FBF8F5;
}

.btn-eliminar:focus{
    color: #FBF8F5;
}

.btn-cerrar{
    background: #A5521F;
    border: 1px solid #A5521F;
    color: #FBF8F5;
}

.btn-cerrar:hover{
    background: #884318;
    color: #FBF8F5;
}

.btn-cerrar:focus{
    color: #FBF8F5;
}

/*.mi-form label{
    padding-right: 7px;
    padding-left: 7px;
}*/
.mi-form .form-group{
    margin-bottom: 7px;
}

.mi-form input[type=text]{
    height: 30px;
}

.mi-form .mi-col{
    padding-right: 7px;
    padding-left: 7px;
}

#formularioModalVerRegistro #btnAgregarDetalle{
    margin-left: 15px;
    margin-right: 15px;
}

#frmVerPlanilla .planilla-encabezado th{
    border-bottom: 1px solid #73cfe9;
    padding: 3px 7px;
}

#frmVerPlanilla .planilla-fila>td {
    border-top: 1px solid #73cfe9;
    padding: 3px 7px;
    cursor: pointer;
    vertical-align: middle;
}

#frmVerPlanilla .detalle-encabezado th{
    padding: 3px 7px;
}

#frmVerPlanilla .detalle_emp>td{
    padding: 1px;
}

#frmVerPlanilla .detalle_emp .table-responsive{
    padding: 0px;
}

#detalle_planilla>tbody>tr>td{
    padding: 5px 8px;
}

#detalle_planilla table{
    padding-left: 10px;
    padding-right: 10px;
}

@media (min-width: 768px){
    .logo-izq{
        padding-left: 70px;
    }
}

