/* CÓDIGO PARA TOOLTIPS */
.tooltip-test {
    position: relative;
    z-index: 1;
}

.tooltip-test:before,
.tooltip-test:after {
    display:block;
    opacity:0;
    pointer-events: none;
    position:absolute;
}
.tooltip-test:after {
    border-right: 6px solid transparent;
    border-bottom: 6px solid rgba(0,0,0,1); 
    border-left: 6px solid transparent;
    content: '';
    height: 0;
    top: 20px;
    left: 20px;
    width: 0;
}

.tooltip-test:before {
    background: rgba(0,0,0,1);
    border-radius: 2px;
    color: #fff;
    content: attr(data-title);
    font-size: 14px;
    padding: 6px 10px;
    top: 26px;
    white-space: nowrap;
}

/* the animations */
/* fade */
.tooltip-test.fade-mj:after,
.tooltip-test.fade-mj:before {
    transform: translate3d(0,-10px,0);
    transition: all .15s ease-in-out;
}
.tooltip-test.fade-mj:hover:after,
.tooltip-test.fade-mj:hover:before {
    opacity: 1;
    transform: translate3d(0,0,0);
}

/* CÓDIGO PARA TOOLTIPS */